$white: #ffffff;
$black: #000000;

$bgcolor: #f5f4f1;
$font-color: #333333;
//$header-color: #e87411;
$header-color: #922525;
$link-color: $header-color;
$link-visited-color: $link-color;
$link-hover-color: darken($link-color, 15%);
$link-active-color: $link-hover-color;
$link-focus-color: $link-hover-color;
$border-color: #f0f0f0;

$branding-bgcolor: #494f57;
$branding-border-color: $link-color;

$menu-bgcolor: $bgcolor;
$menu-link-color: $font-color;
$menu-link-hover-color: $link-color;
$menu-box-shadow-color: #646464;
$menu-link-bgcolor: $menu-bgcolor;
$menu-link-hover-bgcolor: #e8e6df;
$menu-border-color: $menu-link-hover-bgcolor;

$heading-bgcolor: rgba(142, 150, 160, 0.75);

$tab-bgcolor: #efede8;
$tab-menu-link-color: $white;
$tab-menu-link-bgcolor: #494f57;
$tab-menu-link-hover-bgcolor: #606873;
$tab-menu-border-color: #877d60;

$input-border-color: darken($border-color, 30%);
$input-color: $white;
$input-bgcolor: $header-color;
$input-hover-bgcolor: darken($input-bgcolor, 5%);