$white: #ffffff;
$black: #000000;

$grey: #929292;
$light-grey: #a0a0a0;
$lighter-grey: #cacaca;
$lightest-grey: #e5e6e9;
$dark-grey: #696868;
$darker-grey: #333333;
$darkest-grey: #292727;

$blue: #3bafef;

$red: #9c2323;
$dark-red: #942124;
$light-red: #c73838;

$pink: #ffc0c9;
$light-pink: #fbd0d6;