$white: #ffffff;
$black: #000000;

$grey: lighten($black, 20%);
$dark-grey: darken($grey, 5%);
$light-grey: lighten($grey, 20%);
$lighter-grey: lighten($grey, 45%);
$silver: lighten($grey, 60%);

$blue: #3bafef;

$red: #9a2525;
$dark-red: darken($red, 5%);
$light-red: lighten($red, 5%);

$pink: #ffc0c9;
$light-pink: #fbd0d6;