/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 10:51:36 AM
    Author     : Stephen
*/

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 1.5em;
$horz-spacing-unit: 1em;

$portrait: 30em;
$landscape: 45em;
$desktop: 70em;

@include add-grid(3);
@include add-grid(6 at $portrait);
@include add-grid(9 at $landscape);
@include add-grid(12 at $desktop);

@include add-gutter(1/3);

@include sgs-change('debug', false);

$radius: 4px;
$spacing: 0.5em;
