/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2015, 10:16:51 AM
    Author     : Stephen
*/
.l-region--sidebar-first {
    .block {
        .block__content {
            .field__item {
                @include inline-block;
                padding: 0 $spacing $spacing $spacing;
                width: 7em;
                text-align: center;
                
                a {
                    margin: 0 auto;
                    
                    &:hover {
                        text-decoration: none;
                    }
                    
                    i {
                        display: block;
                        color: $link-color;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.l-region--sidebar-second {
    .block {
        .block__content {
            .field__item {
                @include inline-block;
                padding: .4em .5em .4em 0;
                width: 6.8em;
            }
        }
    }
}
