/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2015, 5:06:46 PM
    Author     : Stephen
*/
.search-form-box {
    padding: $vert-spacing-unit $spacing;
    
    select {
        margin: $spacing $spacing * 2;
    }
    
    .checkbox, .radio {
        display: inline-block;
        margin: $spacing;
    }

    input[type="text"] {
        width: 85%;
        height: 2.5em;
        @include border-right-radius(0);
    }
    
    input[type="submit"] {
        width: 15%;
        height: 2.5em;
        @include border-left-radius(0);
    }
    
    .intro {
        padding: $spacing;
        
        ul, ol {
            padding: 0;
            margin: 0;
            text-align: left;
        }
        
        ul {
            li {
                @include inline-block;
            }
        }
    }
}