.search-form {
    margin: 0 auto;
    
    .fieldset-title {
        @include font-size(14px);
    }
}

.search-block-form {
    .container-inline {
    	margin-top: 1em;
    	
        div {
            @include inline-block;
        }
    }
    .form-item {
    	margin-bottom: 0;
    }
    .form-submit {
    	vertical-align: middle;
    }
}