/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 5:36:55 PM
    Author     : Stephen
*/
$breakpoint-no-queries: true;
$breakpoint-no-query-fallbacks: true;

// Re import everything from stair.layout.scss but without media queries.
@import "stair.layout";
