/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2015, 9:27:25 AM
    Author     : Stephen
*/
.block--quicktabs-news-tabs {    
    .quicktabs_main {
        padding: 0 $spacing;
        // background: lighten($heading-bgcolor, 25%);
        @include border-bottom-radius($radius);
        @include pie-clearfix;
        margin-top: (-1) * $horz-spacing-unit;

        a {
            color: $font-color;
            &:hover {
                color: $link-color;
            }
        }
        
        ul {
            padding: $spacing;
            li {
                padding: 0 0 $spacing 0;
                &:before {
                    font-family: "FontAwesome";
                    content: "\f0da";
                    padding-right: $spacing;
                    color: $link-color;
                }
            }
        }
    }

    ul.quicktabs-tabs {
        padding: 0;
        margin: 0;
        @include font-size(14px);
        @include pie-clearfix;
        margin-top: $spacing*3;

        a {
            color: $font-color;
        }

        li {
            padding: $spacing;
            width: (100% / 2);
            text-align: center;
            float: left;
            @include inline-block;
            @include pie-clearfix;

            &:hover {
                color: $link-color;

                a {
                    text-decoration: none;
                }
            }

            &.active {
                // background-color: lighten($heading-bgcolor, 25%);
                @include border-top-radius($radius);

                a {
                    color: $link-color;
                }
            }
        }
    }
}
