/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2015, 9:27:25 AM
    Author     : Stephen
*/
.block--quicktabs-news-tabs {
    > .block__content {
        .block {
            padding: 0;
        }
        @include border-radius($radius);
    }
    
    .quicktabs_main {
        padding: $spacing;
        background: $tab-bgcolor;
        @include pie-clearfix;

        a {
            color: $font-color;
            &:hover {
                color: $link-color;
            }
        }
        
        ul {
            padding: $spacing;
            li {
                padding: $spacing 0;
                &:before {
                    font-family: "FontAwesome";
                    content: "\f0da";
                    padding-right: $spacing;
                    @include font-size(10px);
                    color: $link-color;
                }
            }
        }
    }

    ul.quicktabs-tabs {
        padding: 0;
        margin: 0;
        @extend .delta;
        @include pie-clearfix;
        font-weight: bold;

        a {
            color: $font-color;
        }

        li {
            background: $tab-menu-link-bgcolor;
            margin: 0 auto;
            padding: $spacing;
            width: (100% / 2);
            text-align: center;
            float: left;
            @include inline-block;
            @include pie-clearfix;

            &:hover {
                background: $tab-menu-link-hover-bgcolor;
                border-bottom: none;
            }
            &:first-child {
                @include border-top-left-radius($radius);
            }
            &:last-child {
                @include border-top-right-radius($radius);
                a {
                    border-right: none;
                }
            }

            &.active {
                background: $tab-bgcolor;
                border-top: 3px solid $header-color;
            }
            
            a {
                border-right: 1px solid $tab-menu-border-color;
            }
        }
    }
}
