/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:42:05 PM
    Author     : Stephen
*/
.block--quicktabs-search-tabs {    
    ul.quicktabs-tabs {
        padding: 0;
        margin: 0;
        @include pie-clearfix;
        font-weight: bold;

        a {
            color: $tab-menu-link-color;
        }

        li {
            background: $tab-menu-link-bgcolor;
            margin: 0 auto;
            padding: $spacing 0;
            width: (100% / 3);
            text-align: center;
            float: left;
            @include inline-block;
            @include pie-clearfix;
            cursor: pointer;
            height: 40px;
            
            a {
                display: block;
                border-right: 1px solid lighten($tab-menu-link-bgcolor, 5%);
                
                &:hover {
                    text-decoration: none;
                }
            }

            &:hover {
                background: $tab-menu-link-hover-bgcolor;
                border-bottom: none;
            }
            &:first-child {
                @include border-top-left-radius($radius);
            }
            &:last-child {
                @include border-top-right-radius($radius);
                a {
                    border-right: none;
                }
            }

            &.active {
                background: $tab-bgcolor;

                a {
                    color: $black;
                }
            }          
        }
    }
    
    .quicktabs_main {
        padding: 0 $vert-spacing-unit;
        background: $tab-bgcolor;
        @include border-bottom-radius($radius);
        @include pie-clearfix;
        text-align: center;
        height: 220px;

        input[type="text"] {
            width: 85%;
            height: 2.5em;
            @include rhythm-margins(1);
            @include border-right-radius(0);
        }
        input[type="submit"] {
            width: 15%;
            height: 2.5em;
            @include rhythm-margins(1);
            @include border-left-radius(0);
        }
    }
}
