/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2015, 2:35:55 PM
    Author     : Stephen
*/
.block--quicktabs-resource-service-tabs {    
    .quicktabs_main {
        padding: 0 $spacing;
        background: $bgcolor;
        @include pie-clearfix;
        margin-top: (-1)*$spacing;

        a {
            color: $font-color;
            &:hover {
                color: $link-color;
            }
        }
        
        ul.menu {
            padding: 0 $spacing;
            
            li.expanded {
                @include no-bullet;
                padding: 0 0 $spacing 0;
                
                > a{
                    color: $link-color;
                    font-weight: bold;
                }
                
                > ul.menu {
                    overflow: hidden;
                    max-height: (em($base-line-height) + $spacing) * 2;
                    padding: 0;
                }
            }
            
            li.leaf {
                padding: 0 0 $spacing 0;
                @include no-bullet;
                @include inline-block;
                width: 6.4em;
                white-space: nowrap;
                text-align: left;
            }
        }
    }

    ul.quicktabs-tabs {
        padding: 0;
        margin: 0;
        @include font-size(14px);
        @include pie-clearfix;
        margin-top: $spacing*3;

        a {
            color: $font-color;
        }

        li {
            padding: $spacing;
            width: (100% / 2);
            text-align: center;
            float: left;
            @include inline-block;
            @include pie-clearfix;

            &:hover {
                color: $link-color;

                a {
                    text-decoration: none;
                }
            }

            &.active {
                a {
                    color: $link-color;
                }
            }
        }
    }
}
