fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: ($vert-spacing-unit / 2) $horz-spacing-unit $vert-spacing-unit $horz-spacing-unit;

    border-color: $border-color;
}

legend {
    @extend .delta;
    padding: 0 $spacing;
    color: $font-color;
}

select {
    padding: $spacing $spacing * 2;
    border: 1px solid $input-border-color;
    @include transition(all 0.30s ease-in-out);
    @include border-radius($radius);
    outline: none;
}

input[type="text"], input[type="password"], textarea {
    padding: $spacing $spacing * 2;
    border: 1px solid $input-border-color;
    @include transition(all 0.30s ease-in-out);
    @include border-radius($radius);
    outline: none;
    
    @include input-placeholder {
        font-style: italic;
    }

    &:focus {
        @include box-shadow(0 0 6px rgba($input-border-color, 0.7));
    }
}

input[type="submit"], input[type="button"]{
    background: $input-bgcolor;
    padding: $spacing $spacing*2;
    border: 1px solid $input-border-color;
    color: $input-color;
    @include border-radius($radius);
    
    &:hover {
        background: $input-hover-bgcolor;
    }
}

input[type="checkbox"], input[type="radio"] {
    padding: $spacing $spacing * 2;
}
