table {
    background: $table-bgcolor;
    width: 100%;
    
    tr {
        &.odd {
            background: $table-odd-bgcolor;
        }
        &.even {
            background: $table-even-bgcolor;
        }
        
        th {
            background: $table-header-bgcolor;
            padding: $spacing;
            color: $white;
            
            a {
                color: $table-header-font-color;
                
                &.active {
                    color: $table-header-font-color;
                }
                
                img {
                    margin-left: $spacing;
                }
            }
        }
        
        td {
            padding: $spacing;
            
            &.active {
                background: transparent;
            }
        }
    }
}