/**
 * $FONT-FACE
 */
@include establish-baseline($base-font-size);

/**
 * $BASE-TYPOGRAPHY
 */
html {
    font-family: $ms-yh;
    color: $grey;
}

/**
 * $LINKS
 */
a {
    @include link-colors($red, $light-red, $red, $dark-red, $red);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
    @include rhythm(0, 0, 0, 0.2);
    color: $red;
    text-transform: uppercase;

    a,
    a:visited {
        color: inherit;
        text-decoration: none;
    }
}

h1, .alpha {
    @include font-size(55px);
    font-weight: 700;
}
h2, .beta {
    @include font-size(34px);
    font-weight: 700;
}
h3, .gamma {
    @include font-size(21px);
}
h4, .delta {
    @include font-size(18px);
}
h5, .epsilon {
    @include font-size(16px);
}
h6, .zeta {
    @include font-size(16px);
}

/**
 * $PARAGRAPHS
 */
p,
%p {
    margin: 0;
    @include rhythm(0, 0, 0, 1);
}
p + img {
    float: left;
    margin-right: $horz-spacing-unit;
}

/**
 * $QUOTES
 */
blockquote {
    @extend %p;
    @include rhythm(0, 1, 1, 1);
    padding: 0, 1.5em;
    
    @include rhythm-borders(1px);
    @include apply-side-rhythm-border(left, 10px);
    font-style: italic;
    color: $dark-red;
    
    p {
        margin: 0;
    }
}

q {
    font-style: italic;
}

/**
 * $MARKS
 */
mark, 
.marker {
    padding: 0.1em 0.5em;
    
    background: $light-pink;
    
    color: $white;
    @include font-size(12px);
    text-transform: capitalize;
    
    @include border-radius(10px);
}

/**
 * $FOOTERS
 */
footer,
.footer {
    padding: $vert-spacing-unit 0;
    
    background: $dark-grey;
    
    text-align: center;
    color: $light-grey;
    @include font-size(12px);
    
    a {
        color: $light-grey;
    }
}

/**
 * $BARS
 */
.bar {
    padding: 0.1em 0.5em;
    
    background: $dark-grey;
    
    text-align: right;
    color: $lighter-grey;
    @include font-size(12px);
    
    a {
        color: $lighter-grey;
        &:hover {
            color: $silver;
        }
    }
}