/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 3:49:40 PM
    Author     : Stephen
*/

// Use REMs with a pixel fallback for font sizing.
@mixin font-size($font-size) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;
}

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}