/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2015, 11:06:04 AM
    Author     : Stephen
*/
.dl-horizontal {
    dt {
        float: left;
        width: 10%;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
    }
    dd {
        margin-left: 12%;
        
        &:before,
        &:after {
        display: table;
        content: " ";
        }
        &:after {
            clear:both;
        }
    }
    .field {
        width: 80%;
        @include float-left;
    }
}
