/*******************************************************************************
 * sword-front.layout.scss
 *
 * Styles for the Sword Front layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "susy";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.l-contrained {
    @include container;
    @include show-grid(overlay);
}

/* Bar */
.l-region--bar {
    @include span-columns(4 omega);
    
    p {
        margin: 0;
    }
    .block__content {
        text-align: right;
        a {
            color: $lighter-grey;
            &:hover {
                color: silver;
            }
        }
        span {
            margin: 8px;
        }
    }
}

/* Friendly links */
.l-region--link {
    a {
        color: $lighter-grey;
        &:visited {
            color: $lighter-grey;
        }
        &:hover {
            color: $silver;
        }        
    }
    span {
        margin: 8px;
    }
}
