/*******************************************************************************
 * sword-front.layout.scss
 *
 * Styles for the Sword Front layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "susy";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";

.l-page {
    @include container;
    @include show-grid(overlay);
}

@include susy-breakpoint($tablet-breakpoint) {
    .l-page {
        @include container($tablet);
        @include show-grid(overlay);
    }
}

@include susy-breakpoint($desktop-breakpoint) {
    .l-page {
        @include container($desktop);
        @include show-grid(overlay);
    }
    
    .l-constrained {
        @include container;
    }
    
    .l-branding {
        @include span(8 of $desktop at 1);
    }
    
    .l-navigation {
        @include span(8 of $desktop at 9);
        margin-top: 23px + $vert-spacing-unit * 2;
    }
    
    .l-express {
        width: span(12 of $desktop);
        margin: 0 auto;
    }
}

/* Bar */
.l-region--bar {    
    p {
        margin: 0;
    }
    .block__content {
        text-align: right;
        span {
            margin: 8px;
        }
    }
}

/* Quick links*/
.l-region--express {
    .block__title {
        @extend .delta;
        border-bottom: 1px dotted $silver;
        padding-bottom: 0.5em;
    }
    .block__content {
        .field__item {
            display: inline-block;
            padding: 0.8em 0.5em;
            width: 12em;
            
            &:before {
                font-family: "FontAwesome";
                content: "\f0da";
                padding-right: 0.5em;
                color: $red;
            }
        }
    }
}

/* Useful links */
.l-region--link {    
    a {
        color: $lighter-grey;
        &:visited {
            color: $lighter-grey;
        }
        &:hover {
            color: $silver;
        }        
    }
    .block__content {
        .field__item {
            display: inline-block;
            margin: 8px;
        }
    }
}
