/*******************************************************************************
 * sword-front.layout.scss
 *
 * Styles for the Sword Front layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "susy";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.l-page {
    @include container;
    @include show-grid(overlay);
}

@include susy-breakpoint($tablet-breakpoint) {
    .l-page {
        @include container($tablet);
        @include show-grid(overlay);
    }
}

@include susy-breakpoint($desktop-breakpoint) {
    .l-page {
        @include container($desktop);
        @include show-grid(overlay);
    }
    
    .l-constrained {
        @include container;
    }
    
    .l-branding {
        @include span(8 of 16 at 1);
    }
    
    .l-navigation {
        @include span(8 of 16 at 9);
        margin-top: 23px + $vert-spacing-unit * 2;
    }
}

/* Bar */
.l-region--bar {    
    p {
        margin: 0;
    }
    .block__content {
        text-align: right;
        span {
            margin: 8px;
        }
    }
}

/* Friendly links */
.l-region--link {
    a {
        color: $lighter-grey;
        &:visited {
            color: $lighter-grey;
        }
        &:hover {
            color: $silver;
        }        
    }
    span {
        margin: 8px;
    }
}
