/*******************************************************************************
 * sword.layout.scss
 *
 * Styles for the Sword layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.l-page {
    @include background-grid();
}

.l-constrained {
    max-width: 1200px;
    margin: 0 auto;
    @include pie-clearfix();
}

.wrapper, .l-useful-link, .l-copyright {
    @extend .l-constrained;
}

.l-header, .l-main, .l-footer {
    margin: $vert-spacing-unit 0;
}

.l-branding {
    padding: $vert-spacing-unit 0;
}

@include breakpoint($desktop) {
    .l-branding {
        @include grid-span(8, 1);
    }

    .l-region--navigation {
        @include grid-span(8, 9);
    }
    
    .l-region--sidebar-first {
        @include grid-span(4, 1);
    }
    
    .l-content {
        @include grid-span(12, 5);
    }
    
    .l-region--sidebar-second {
        @include grid-span(4, 13);
    }
}
