/*******************************************************************************
 * sword.layout.scss
 *
 * Styles for the Sword layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.l-page {
    @include background-grid();
}

.l-constrained {
    max-width: 960px;
    margin: 0 auto;
    @include pie-clearfix();
}

.l-branding, .l-heading, .l-highlighted, .l-useful-link, .l-copyright, .wrapper--main {
    @extend .l-constrained;
}

.l-main, .l-footer {
    margin: $vert-spacing-unit 0;
}

.l-branding {
    position: relative;
}

.wrapper--heading {
    padding-top: $vert-spacing-unit;
}

@include breakpoint($desktop) {
    .l-region--sidebar-first {
        @include grid-span(3, 1);
    }
    
    .l-content {
        @include grid-span(9, 4);
    }
    
    .l-region--sidebar-second {
        @include grid-span(3, 10);
    }

    .l-region--footer {
        .block {
            .block__title {
                padding-left: 0;
            }

            .field__item {
                @include inline-block;
                float: left;
                width: 50%;
            }

            @include inline-block;
            width: (100% / 3);
            float: left;
        }
    }
}
