/*******************************************************************************
 * sword.layout.scss
 *
 * Styles for the Sword layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.l-page {
    @include background-grid();
}

.l-constrained {
    max-width: 960px;
    margin: 0 auto;
    @include pie-clearfix();
}

.l-branding, .l-heading, .l-highlighted, .l-useful-link, .l-copyright, .wrapper--main {
    @extend .l-constrained;
}

.l-main, .l-footer {
    margin: $vert-spacing-unit 0;
}

@include breakpoint($desktop) {
    .l-region--sidebar-first {
        @include grid-span(4, 1);
    }
    
    .l-content {
        @include grid-span(8, 5);
    }
    
    .l-region--sidebar-second {
        @include grid-span(4, 9);
    }
}
