/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 10:51:36 AM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2015, 9:44:24 PM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 3:49:40 PM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2015, 2:29:32 PM
    Author     : Stephen
*/
/* line 11, ../sass/base/_elements.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 15, ../sass/base/_elements.scss */
body {
  margin: 0;
  background: #f5f4f1; }

/* line 20, ../sass/base/_elements.scss */
article, aside, details, figure, figcaption, header, footer, hgroup, main, nav, section, summary {
  display: block; }

/* line 24, ../sass/base/_elements.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 29, ../sass/base/_elements.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 34, ../sass/base/_elements.scss */
[hidden], template {
  display: none; }

/* line 1, ../sass/base/_forms.scss */
fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0.75em 1em 1.5em 1em;
  border-color: #f0f0f0; }

/* line 9, ../sass/base/_forms.scss */
legend {
  padding: 0 0.5em;
  color: #333333; }

/* line 15, ../sass/base/_forms.scss */
select {
  padding: 0.5em 1em;
  border: 1px solid #a3a3a3;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none; }

/* line 23, ../sass/base/_forms.scss */
input[type="text"], input[type="password"], textarea {
  padding: 0.5em 1em;
  border: 1px solid #a3a3a3;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none; }
  /* line 61, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, textarea:-moz-placeholder {
    font-style: italic; }
  /* line 64, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea::-moz-placeholder {
    font-style: italic; }
  /* line 67, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-style: italic; }
  /* line 56, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-style: italic; }
  /* line 34, ../sass/base/_forms.scss */
  input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    -moz-box-shadow: 0 0 6px rgba(163, 163, 163, 0.7);
    -webkit-box-shadow: 0 0 6px rgba(163, 163, 163, 0.7);
    box-shadow: 0 0 6px rgba(163, 163, 163, 0.7); }

/* line 39, ../sass/base/_forms.scss */
input[type="submit"], input[type="button"] {
  background: #922525;
  padding: 0.5em 1em;
  border: 1px solid #a3a3a3;
  color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 46, ../sass/base/_forms.scss */
  input[type="submit"]:hover, input[type="button"]:hover {
    background: #7e2020; }

/* line 51, ../sass/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  padding: 0.5em 1em; }

/* line 2, ../sass/base/_lists.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding: 0.5em;
  margin: 0 auto; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_tables.scss */
table {
  background: #efede8;
  width: 100%; }
  /* line 6, ../sass/base/_tables.scss */
  table tr.odd {
    background: #efede8; }
  /* line 9, ../sass/base/_tables.scss */
  table tr.even {
    background: #ffffff; }
  /* line 13, ../sass/base/_tables.scss */
  table tr th {
    background: #494f57;
    padding: 0.5em;
    color: #ffffff; }
    /* line 18, ../sass/base/_tables.scss */
    table tr th a {
      color: #ffffff; }
      /* line 21, ../sass/base/_tables.scss */
      table tr th a.active {
        color: #ffffff; }
      /* line 25, ../sass/base/_tables.scss */
      table tr th a img {
        margin-left: 0.5em; }
  /* line 31, ../sass/base/_tables.scss */
  table tr td {
    padding: 0.5em; }
    /* line 34, ../sass/base/_tables.scss */
    table tr td.active {
      background: transparent; }

/**
 * $FONT-FACE
 */
/* line 106, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.71429em; }

/**
 * $BASE-TYPOGRAPHY
 */
/* line 9, ../sass/base/_typography.scss */
html {
  font-family: "Microsoft Yahei", Sumsun, Arial;
  color: #333333; }

/**
 * $LINKS
 */
/* line 17, ../sass/base/_typography.scss */
a {
  outline: 0;
  background: transparent;
  color: #922525;
  text-decoration: none; }
  /* line 18, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #922525; }
  /* line 21, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #551616; }
  /* line 24, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #551616; }
  /* line 27, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #551616; }
  /* line 23, ../sass/base/_typography.scss */
  a:hover {
    text-decoration: underline; }

/* line 29, ../sass/base/_typography.scss */
.front-page a {
  color: #333333; }
  /* line 18, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .front-page a:visited {
    color: #333333; }
  /* line 21, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .front-page a:focus {
    color: #333333; }
  /* line 24, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .front-page a:hover {
    color: #922525; }
  /* line 27, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .front-page a:active {
    color: #922525; }

/**
 * $HEADINGS
 */
/* line 37, ../sass/base/_typography.scss */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta, legend, .block__title,
h5, .epsilon,
h6, .zeta, .field--name-field-related-links .field-label, .l-region--sidebar-first .block--menu-block ul.menu li.expanded > a, .l-region--sidebar-first .block--menu-block ul.menu li.collapsed > a {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.34286em;
  color: #922525;
  text-transform: uppercase; }
  /* line 47, ../sass/base/_typography.scss */
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a,
  .beta a:visited,
  h3 a,
  h3 a:visited, .gamma a,
  .gamma a:visited,
  h4 a,
  h4 a:visited, .delta a, legend a, .block__title a,
  .delta a:visited,
  legend a:visited,
  .block__title a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a, .field--name-field-related-links .field-label a, .l-region--sidebar-first .block--menu-block ul.menu li.expanded > a a, .l-region--sidebar-first .block--menu-block ul.menu li.collapsed > a a,
  .zeta a:visited,
  .field--name-field-related-links .field-label a:visited,
  .l-region--sidebar-first .block--menu-block ul.menu li.expanded > a a:visited,
  .l-region--sidebar-first .block--menu-block ul.menu li.collapsed > a a:visited {
    color: inherit;
    text-decoration: none; }

/* line 54, ../sass/base/_typography.scss */
h1, .alpha {
  font-size: 54px;
  font-size: 3.85714rem;
  font-weight: 700;
  line-height: 80px; }

/* line 59, ../sass/base/_typography.scss */
h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700;
  line-height: 54px; }

/* line 64, ../sass/base/_typography.scss */
h3, .gamma {
  font-size: 22px;
  font-size: 1.57143rem;
  line-height: 40px; }

/* line 68, ../sass/base/_typography.scss */
h4, .delta, legend, .block__title {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 32px; }

/* line 72, ../sass/base/_typography.scss */
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 26px; }

/* line 76, ../sass/base/_typography.scss */
h6, .zeta, .field--name-field-related-links .field-label, .l-region--sidebar-first .block--menu-block ul.menu li.expanded > a, .l-region--sidebar-first .block--menu-block ul.menu li.collapsed > a {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 24px; }

/**
 * $PARAGRAPHS
 */
/* line 84, ../sass/base/_typography.scss */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.71429em; }

/* line 89, ../sass/base/_typography.scss */
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
/* line 97, ../sass/base/_typography.scss */
blockquote {
  margin-top: 0em;
  padding-top: 1.71429em;
  padding-bottom: 1.71429em;
  margin-bottom: 1.71429em;
  padding: 0, 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.64286em;
  border-left-width: 0.71429em;
  border-left-style: solid;
  padding-left: 1em;
  font-style: italic; }
  /* line 106, ../sass/base/_typography.scss */
  blockquote p {
    margin: 0; }

/* line 111, ../sass/base/_typography.scss */
q {
  font-style: italic; }

/**
 * $MARKS
 */
/* line 118, ../sass/base/_typography.scss */
mark,
.marker {
  padding: 0.1em 0.5em;
  color: #ffffff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/**
 * $FOOTERS
 */
/* line 132, ../sass/base/_typography.scss */
footer,
.l-footer {
  padding: 1.5em 0;
  margin: 0 auto;
  background: #eae8e2;
  color: #333333;
  font-size: 12px;
  font-size: 0.85714rem; }
  /* line 140, ../sass/base/_typography.scss */
  footer a,
  .l-footer a {
    color: #333333; }

/**
 * $USERFUL LINKS
 */
/* line 148, ../sass/base/_typography.scss */
.l-useful-link {
  text-align: center;
  font-size: 12px;
  font-size: 0.85714rem;
  color: #333333; }
  /* line 154, ../sass/base/_typography.scss */
  .l-useful-link a, .l-useful-link a:visited, .l-useful-link a:hover {
    color: #333333; }

/**
 * $COPYRIGHT
 */
/* line 165, ../sass/base/_typography.scss */
.l-copyright {
  font-size: 12px;
  font-size: 0.85714rem;
  color: #333333; }
  /* line 170, ../sass/base/_typography.scss */
  .l-copyright a, .l-copyright a:visited, .l-copyright a:hover {
    color: #333333; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2015, 10:16:51 AM
    Author     : Stephen
*/
/* line 13, ../sass/components/blocks/_block-list.scss */
.l-region--stacked-left .block .block__content .field__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 1.5em 0.5em;
  width: 7em;
  text-align: center; }
  /* line 19, ../sass/components/blocks/_block-list.scss */
  .l-region--stacked-left .block .block__content .field__item a {
    margin: 0 auto;
    color: #333333; }
    /* line 23, ../sass/components/blocks/_block-list.scss */
    .l-region--stacked-left .block .block__content .field__item a:hover {
      color: #922525;
      text-decoration: none; }
    /* line 28, ../sass/components/blocks/_block-list.scss */
    .l-region--stacked-left .block .block__content .field__item a i {
      display: block;
      color: #922525;
      margin: 0 auto; }

/* line 42, ../sass/components/blocks/_block-list.scss */
.l-region--stacked-middle .block .block__content .field__item, .l-region--stacked-right .block .block__content .field__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: .4em .5em .4em 0;
  width: 6.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2015, 9:33:24 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/blocks/_block.scss */
.block__title {
  font-weight: bold;
  padding: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2015, 5:05:50 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/blocks/_block_sidebar.scss */
.l-region--sidebar-first .block {
  padding: 1.5em 1em;
  margin-bottom: 1.5em;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 6px rgba(163, 163, 163, 0.7);
  -webkit-box-shadow: 0 0 6px rgba(163, 163, 163, 0.7);
  box-shadow: 0 0 6px rgba(163, 163, 163, 0.7); }
  /* line 19, ../sass/components/blocks/_block_sidebar.scss */
  .l-region--sidebar-first .block .block__title {
    border-top: 3px solid #922525;
    color: #922525;
    padding-left: 1.5em; }
  /* line 26, ../sass/components/blocks/_block_sidebar.scss */
  .l-region--sidebar-first .block .view-view-resource-category ul.views-summary {
    padding-left: 1.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:03:33 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/fields/_bar-link.scss */
.l-bar .field__item {
  display: inline-block;
  margin: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2015, 9:22:16 AM
    Author     : Stephen
*/
/* line 11, ../sass/components/fields/_field-image.scss */
.field--name-field-image .field-items {
  text-align: center; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:07:07 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/fields/_useful-link.scss */
.l-useful-link .field__item {
  display: inline-block;
  margin: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2015, 4:08:19 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/forms/_bar-form.scss */
.l-bar input, .l-bar select {
  margin: 0 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2015, 9:17:10 AM
    Author     : Stephen
*/
/* line 10, ../sass/components/forms/_field-related-links.scss */
.field--name-field-related-links {
  border: 1px solid #922525;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  padding: 1.5em 1em;
  width: 20% !important;
  float: right !important; }
  /* line 18, ../sass/components/forms/_field-related-links.scss */
  .field--name-field-related-links .field-label {
    font-weight: bold;
    color: #333333; }
  /* line 26, ../sass/components/forms/_field-related-links.scss */
  .field--name-field-related-links .field-items .field-item:before {
    font-family: "FontAwesome";
    content: "\f105";
    padding-right: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2015, 5:06:46 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/forms/_forms.scss */
.search-form-box {
  padding: 1.5em 0.5em; }
  /* line 13, ../sass/components/forms/_forms.scss */
  .search-form-box select {
    margin: 0.5em 1em; }
  /* line 17, ../sass/components/forms/_forms.scss */
  .search-form-box .checkbox, .search-form-box .radio {
    display: inline-block;
    margin: 0.5em; }
  /* line 22, ../sass/components/forms/_forms.scss */
  .search-form-box input[type="text"] {
    width: 85%;
    height: 2.5em;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0; }
  /* line 28, ../sass/components/forms/_forms.scss */
  .search-form-box input[type="submit"] {
    width: 15%;
    height: 2.5em;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0; }
  /* line 34, ../sass/components/forms/_forms.scss */
  .search-form-box .intro {
    padding: 0.5em; }
    /* line 37, ../sass/components/forms/_forms.scss */
    .search-form-box .intro ul, .search-form-box .intro ol {
      padding: 0;
      margin: 0;
      text-align: left; }
    /* line 44, ../sass/components/forms/_forms.scss */
    .search-form-box .intro ul li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }

/* line 1, ../sass/components/forms/_search.scss */
.search-form {
  margin: 0 auto; }
  /* line 4, ../sass/components/forms/_search.scss */
  .search-form .fieldset-title {
    font-size: 14px;
    font-size: 1rem; }

/* line 11, ../sass/components/forms/_search.scss */
.search-block-form .container-inline div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 4:18:20 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/menus/_breadcrumb.scss */
.breadcrumb {
  margin: 0;
  padding: 0;
  border: 0; }
  /* line 13, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .breadcrumb:after {
    content: "";
    display: table;
    clear: both; }
  /* line 62, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .breadcrumb li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left; }
  /* line 13, ../sass/components/menus/_breadcrumb.scss */
  .breadcrumb li {
    padding: 0 0.5em 1.5em 0; }
    /* line 16, ../sass/components/menus/_breadcrumb.scss */
    .breadcrumb li:after {
      font-family: "FontAwesome";
      content: "\f101";
      padding-left: 0.5em;
      vertical-align: baseline; }
    /* line 22, ../sass/components/menus/_breadcrumb.scss */
    .breadcrumb li:last-child:after {
      content: ""; }

/* line 1, ../sass/components/menus/_menu.scss */
.tb-megamenu .nav-collapse .nav li.dropdown > .dropdown-toggle .caret, .tb-megamenu .nav-collapse .nav li.dropdown > .dropdown-toggle:hover .caret, .tb-megamenu .nav-collapse .nav li.dropdown.open > .dropdown-toggle .caret, .tb-megamenu .nav-collapse .nav li.dropdown.open > .dropdown-toggle:hover .caret {
  border-top-color: #333333;
  border-bottom-color: #333333; }

/* line 6, ../sass/components/menus/_menu.scss */
.tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav-collapse .nav li.dropdown.open > .dropdown-toggle, .tb-megamenu .nav-collapse .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav-collapse .nav li.dropdown.open.active > a:hover,
.tb-megamenu .nav-collapse .nav li.dropdown.open.active > a:focus {
  background-color: #f5f4f1;
  border: 0;
  color: #333333; }

/* line 12, ../sass/components/menus/_menu.scss */
.tb-megamenu .dropdown-menu {
  background-color: #f5f4f1;
  border-bottom: 0.3em solid #922525;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-box-shadow: 0 5px 10px #646464;
  -webkit-box-shadow: 0 5px 10px #646464;
  box-shadow: 0 5px 10px #646464; }

/* line 19, ../sass/components/menus/_menu.scss */
.tb-megamenu {
  background-color: #f5f4f1;
  border-bottom: 1px solid #e8e6df; }
  /* line 26, ../sass/components/menus/_menu.scss */
  .tb-megamenu .nav-collapse .nav > li > a {
    font-size: 16px;
    font-size: 1.14286rem;
    padding: 0.5em; }
    /* line 31, ../sass/components/menus/_menu.scss */
    .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus {
      color: #922525; }
  /* line 38, ../sass/components/menus/_menu.scss */
  .tb-megamenu .nav-collapse .nav > li.active > a:hover, .tb-megamenu .nav-collapse .nav > li.active > a:focus {
    background-color: #e8e6df;
    color: #922525; }
  /* line 64, ../sass/components/menus/_menu.scss */
  .tb-megamenu .nav-collapse .nav li.dropdown.open > .dropdown-toggle {
    color: #922525; }
  /* line 87, ../sass/components/menus/_menu.scss */
  .tb-megamenu .nav-collapse .nav .active > a, .tb-megamenu .nav-collapse .nav .active > a:hover, .tb-megamenu .nav-collapse .nav .active > a:focus {
    color: #922525;
    text-shadow: none;
    background-color: #f5f4f1;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none; }
  /* line 107, ../sass/components/menus/_menu.scss */
  .tb-megamenu .dropdown-menu li > a {
    display: inline; }
    /* line 110, ../sass/components/menus/_menu.scss */
    .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
      color: #922525; }
  /* line 119, ../sass/components/menus/_menu.scss */
  .tb-megamenu .dropdown-submenu:hover > a {
    color: #922525; }

/* line 127, ../sass/components/menus/_menu.scss */
.tb-megamenu-submenu ul li {
  padding: 0.1em 0.5em; }
  /* line 130, ../sass/components/menus/_menu.scss */
  .tb-megamenu-submenu ul li:before {
    font-family: "FontAwesome";
    content: "\f101";
    margin-right: 0.5em;
    color: #922525;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2015, 4:04:14 PM
    Author     : Stephen
*/
/* line 12, ../sass/components/menus/_navigation.scss */
.l-region--sidebar-first .block--menu-block ul.menu {
  padding: 0;
  margin: 0; }
  /* line 16, ../sass/components/menus/_navigation.scss */
  .l-region--sidebar-first .block--menu-block ul.menu li.expanded, .l-region--sidebar-first .block--menu-block ul.menu li.collapsed {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    border-bottom: 1px dotted #f0f0f0;
    background: #fdfdfd;
    cursor: pointer; }
    /* line 22, ../sass/components/menus/_navigation.scss */
    .l-region--sidebar-first .block--menu-block ul.menu li.expanded > a, .l-region--sidebar-first .block--menu-block ul.menu li.collapsed > a {
      font-weight: bold; }
      /* line 26, ../sass/components/menus/_navigation.scss */
      .l-region--sidebar-first .block--menu-block ul.menu li.expanded > a:hover, .l-region--sidebar-first .block--menu-block ul.menu li.collapsed > a:hover {
        text-decoration: none; }
  /* line 33, ../sass/components/menus/_navigation.scss */
  .l-region--sidebar-first .block--menu-block ul.menu li.collapsed:before {
    font-family: "FontAwesome";
    content: "\f0da";
    padding-right: 0.5em; }
  /* line 41, ../sass/components/menus/_navigation.scss */
  .l-region--sidebar-first .block--menu-block ul.menu li.expanded:before {
    font-family: "FontAwesome";
    content: "\f0d7";
    padding-right: 0.5em; }
  /* line 48, ../sass/components/menus/_navigation.scss */
  .l-region--sidebar-first .block--menu-block ul.menu li.leaf {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 1.5em;
    border-bottom: 1px dotted #f0f0f0;
    background: #fdfdfd;
    cursor: pointer; }
    /* line 56, ../sass/components/menus/_navigation.scss */
    .l-region--sidebar-first .block--menu-block ul.menu li.leaf.active, .l-region--sidebar-first .block--menu-block ul.menu li.leaf.active:hover {
      background: #922525; }
    /* line 60, ../sass/components/menus/_navigation.scss */
    .l-region--sidebar-first .block--menu-block ul.menu li.leaf.active:before {
      color: #ffffff; }
    /* line 65, ../sass/components/menus/_navigation.scss */
    .l-region--sidebar-first .block--menu-block ul.menu li.leaf:hover {
      background: #f0f0f0; }
    /* line 69, ../sass/components/menus/_navigation.scss */
    .l-region--sidebar-first .block--menu-block ul.menu li.leaf a {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      color: #333333; }
      /* line 74, ../sass/components/menus/_navigation.scss */
      .l-region--sidebar-first .block--menu-block ul.menu li.leaf a.active, .l-region--sidebar-first .block--menu-block ul.menu li.leaf a.active:before, .l-region--sidebar-first .block--menu-block ul.menu li.leaf a.active:hover {
        color: #ffffff; }
      /* line 81, ../sass/components/menus/_navigation.scss */
      .l-region--sidebar-first .block--menu-block ul.menu li.leaf a:hover {
        color: #922525;
        text-decoration: none; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 4:38:31 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/misc/_article-title.scss */
.article-title {
  text-align: center; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2015, 11:51:22 AM
    Author     : Stephen
*/
/* line 10, ../sass/components/misc/_related-article.scss */
.block--views-view-related-article-block {
  border: 1px solid #f0f0f0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 6px rgba(163, 163, 163, 0.7);
  -webkit-box-shadow: 0 0 6px rgba(163, 163, 163, 0.7);
  box-shadow: 0 0 6px rgba(163, 163, 163, 0.7); }
  /* line 15, ../sass/components/misc/_related-article.scss */
  .block--views-view-related-article-block .block__title {
    border-top: 3px solid #922525;
    color: #922525;
    padding-left: 1.5em; }
  /* line 21, ../sass/components/misc/_related-article.scss */
  .block--views-view-related-article-block ul {
    padding-left: 0; }
    /* line 24, ../sass/components/misc/_related-article.scss */
    .block--views-view-related-article-block ul li {
      padding-left: 1.5em; }
      /* line 27, ../sass/components/misc/_related-article.scss */
      .block--views-view-related-article-block ul li.views-row-odd {
        background: #ffffff; }
      /* line 31, ../sass/components/misc/_related-article.scss */
      .block--views-view-related-article-block ul li span.field-content:before {
        font-family: "FontAwesome";
        content: "\f101";
        padding-right: 0.5em;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline; }
      /* line 38, ../sass/components/misc/_related-article.scss */
      .block--views-view-related-article-block ul li a {
        color: #333333; }
        /* line 41, ../sass/components/misc/_related-article.scss */
        .block--views-view-related-article-block ul li a:hover {
          color: #922525; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2015, 11:12:37 AM
    Author     : Stephen
*/
/* line 12, ../sass/components/misc/_taxonomy-term.scss */
.view-taxonomy-term .item-list ul {
  padding-left: 0; }
  /* line 15, ../sass/components/misc/_taxonomy-term.scss */
  .view-taxonomy-term .item-list ul li {
    border-bottom: 1px dotted #f0f0f0; }
    /* line 18, ../sass/components/misc/_taxonomy-term.scss */
    .view-taxonomy-term .item-list ul li:before {
      font-family: "FontAwesome";
      content: "\f0da";
      padding-right: 0.5em;
      display: inline-block;
      color: #922525; }
    /* line 26, ../sass/components/misc/_taxonomy-term.scss */
    .view-taxonomy-term .item-list ul li .views-field-title {
      padding-right: 1.5em; }
    /* line 30, ../sass/components/misc/_taxonomy-term.scss */
    .view-taxonomy-term .item-list ul li a {
      color: #333333; }
      /* line 33, ../sass/components/misc/_taxonomy-term.scss */
      .view-taxonomy-term .item-list ul li a:hover {
        color: #922525; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2015, 11:06:04 AM
    Author     : Stephen
*/
/* line 11, ../sass/components/nodes/_node-resource.scss */
.dl-horizontal dt {
  float: left;
  width: 10%;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold; }
/* line 21, ../sass/components/nodes/_node-resource.scss */
.dl-horizontal dd {
  margin-left: 12%; }
  /* line 24, ../sass/components/nodes/_node-resource.scss */
  .dl-horizontal dd:before, .dl-horizontal dd:after {
    display: table;
    content: " "; }
  /* line 29, ../sass/components/nodes/_node-resource.scss */
  .dl-horizontal dd:after {
    clear: both; }
/* line 33, ../sass/components/nodes/_node-resource.scss */
.dl-horizontal .field {
  width: 80%;
  float: left; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 5:02:44 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/nodes/_node.scss */
.node__submitted {
  background: transparent;
  padding: 0;
  margin: 0 auto;
  text-align: center; }
  /* line 16, ../sass/components/nodes/_node.scss */
  .node__submitted a {
    color: #922525; }

/* line 21, ../sass/components/nodes/_node.scss */
.category {
  text-align: center; }

/* line 25, ../sass/components/nodes/_node.scss */
.node__content {
  padding: 1.5em 0.5em; }
  /* line 28, ../sass/components/nodes/_node.scss */
  .node__content p {
    text-indent: 2em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2015, 2:57:39 PM
    Author     : Stephen
*/
/* line 12, ../sass/components/slideshows/_culture-slideshow.scss */
.view-view-culture-slideshow .views_slideshow_main img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
/* line 16, ../sass/components/slideshows/_culture-slideshow.scss */
.view-view-culture-slideshow .views_slideshow_main .views-field-title a {
  position: absolute;
  display: block;
  bottom: 5px;
  width: 100%;
  height: 15%;
  padding: 0.5em 0.75em;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 12px;
  font-size: 0.85714rem;
  color: #ffffff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NGY1NyIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDk0ZjU3IiBzdG9wLW9wYWNpdHk9IjAuNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(73, 79, 87, 0.95)), color-stop(100%, rgba(73, 79, 87, 0.5)));
  background-image: -moz-linear-gradient(rgba(73, 79, 87, 0.95), rgba(73, 79, 87, 0.5));
  background-image: -webkit-linear-gradient(rgba(73, 79, 87, 0.95), rgba(73, 79, 87, 0.5));
  background-image: linear-gradient(rgba(73, 79, 87, 0.95), rgba(73, 79, 87, 0.5)); }
/* line 30, ../sass/components/slideshows/_culture-slideshow.scss */
.view-view-culture-slideshow .views-slideshow-controls-bottom {
  z-index: 10;
  text-align: center;
  width: 100%; }
  /* line 35, ../sass/components/slideshows/_culture-slideshow.scss */
  .view-view-culture-slideshow .views-slideshow-controls-bottom .views_slideshow_pager_field_item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-top: -1em; }
    /* line 39, ../sass/components/slideshows/_culture-slideshow.scss */
    .view-view-culture-slideshow .views-slideshow-controls-bottom .views_slideshow_pager_field_item .views-field-counter {
      background: #333333;
      border: 1px solid #333333;
      width: .5em;
      height: .5em; }
      /* line 45, ../sass/components/slideshows/_culture-slideshow.scss */
      .view-view-culture-slideshow .views-slideshow-controls-bottom .views_slideshow_pager_field_item .views-field-counter .views-content-counter {
        color: #333333;
        font-size: 8px;
        font-size: 0.57143rem;
        line-height: .5em; }
  /* line 54, ../sass/components/slideshows/_culture-slideshow.scss */
  .view-view-culture-slideshow .views-slideshow-controls-bottom .active .views-field-counter {
    background: #922525;
    border: 1px solid #922525; }
    /* line 58, ../sass/components/slideshows/_culture-slideshow.scss */
    .view-view-culture-slideshow .views-slideshow-controls-bottom .active .views-field-counter .views-content-counter {
      color: #922525; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2015, 9:27:25 AM
    Author     : Stephen
*/
/* line 11, ../sass/components/tabs/_news-tab.scss */
.block--quicktabs-news-tabs .quicktabs_main {
  padding: 0 0.5em;
  background: #f5f4f1;
  *zoom: 1;
  margin-top: -0.5em; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-news-tabs .quicktabs_main:after {
    content: "";
    display: table;
    clear: both; }
  /* line 17, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs .quicktabs_main a {
    color: #333333; }
    /* line 19, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs .quicktabs_main a:hover {
      color: #922525; }
  /* line 24, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs .quicktabs_main ul {
    padding: 0.5em; }
    /* line 26, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs .quicktabs_main ul li {
      padding: 0 0 0.5em 0; }
      /* line 28, ../sass/components/tabs/_news-tab.scss */
      .block--quicktabs-news-tabs .quicktabs_main ul li:before {
        font-family: "FontAwesome";
        content: "\f0da";
        padding-right: 0.5em;
        color: #922525; }
/* line 38, ../sass/components/tabs/_news-tab.scss */
.block--quicktabs-news-tabs ul.quicktabs-tabs {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-size: 1rem;
  *zoom: 1;
  margin-top: 1.5em; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-news-tabs ul.quicktabs-tabs:after {
    content: "";
    display: table;
    clear: both; }
  /* line 45, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs ul.quicktabs-tabs a {
    color: #333333; }
  /* line 49, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs ul.quicktabs-tabs li {
    padding: 0.5em;
    width: 50%;
    text-align: center;
    float: left;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    *zoom: 1; }
    /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 57, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li:hover {
      color: #922525; }
      /* line 60, ../sass/components/tabs/_news-tab.scss */
      .block--quicktabs-news-tabs ul.quicktabs-tabs li:hover a {
        text-decoration: none; }
    /* line 66, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li.active a {
      color: #922525; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:42:05 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/tabs/_search-tab.scss */
.block--quicktabs-search-tabs ul.quicktabs-tabs {
  padding: 0;
  margin: 0;
  *zoom: 1;
  font-weight: bold; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-search-tabs ul.quicktabs-tabs:after {
    content: "";
    display: table;
    clear: both; }
  /* line 17, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs ul.quicktabs-tabs a {
    color: #ffffff; }
  /* line 21, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs ul.quicktabs-tabs li {
    background: #494f57;
    margin: 0 auto;
    padding: 0.5em 0;
    width: 16.66667%;
    text-align: center;
    float: left;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    *zoom: 1;
    cursor: pointer;
    height: 40px;
    border-right: 1px solid #949ba5; }
    /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 34, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li a {
      display: block; }
      /* line 37, ../sass/components/tabs/_search-tab.scss */
      .block--quicktabs-search-tabs ul.quicktabs-tabs li a:hover {
        text-decoration: none; }
    /* line 42, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:hover {
      background: #606873;
      border-bottom: none; }
    /* line 46, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:first-child {
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px; }
    /* line 49, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:last-child {
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      border-right: none; }
    /* line 54, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li.active {
      background: #efede8; }
      /* line 57, ../sass/components/tabs/_search-tab.scss */
      .block--quicktabs-search-tabs ul.quicktabs-tabs li.active a {
        color: #000000; }
/* line 64, ../sass/components/tabs/_search-tab.scss */
.block--quicktabs-search-tabs .quicktabs_main {
  padding: 0 1.5em;
  background: #efede8;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  *zoom: 1;
  text-align: center;
  height: 220px; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-search-tabs .quicktabs_main:after {
    content: "";
    display: table;
    clear: both; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2015, 2:35:55 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/tabs/_service-tab.scss */
.block--quicktabs-resource-service-tabs .quicktabs_main {
  padding: 0 0.5em;
  background: #f5f4f1;
  *zoom: 1;
  margin-top: -0.5em; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-resource-service-tabs .quicktabs_main:after {
    content: "";
    display: table;
    clear: both; }
  /* line 17, ../sass/components/tabs/_service-tab.scss */
  .block--quicktabs-resource-service-tabs .quicktabs_main a {
    color: #333333; }
    /* line 19, ../sass/components/tabs/_service-tab.scss */
    .block--quicktabs-resource-service-tabs .quicktabs_main a:hover {
      color: #922525; }
  /* line 24, ../sass/components/tabs/_service-tab.scss */
  .block--quicktabs-resource-service-tabs .quicktabs_main ul.menu {
    padding: 0 0.5em; }
    /* line 27, ../sass/components/tabs/_service-tab.scss */
    .block--quicktabs-resource-service-tabs .quicktabs_main ul.menu li.expanded {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      padding: 0 0 0.5em 0; }
      /* line 31, ../sass/components/tabs/_service-tab.scss */
      .block--quicktabs-resource-service-tabs .quicktabs_main ul.menu li.expanded > a {
        color: #922525;
        font-weight: bold; }
      /* line 36, ../sass/components/tabs/_service-tab.scss */
      .block--quicktabs-resource-service-tabs .quicktabs_main ul.menu li.expanded > ul.menu {
        overflow: hidden;
        max-height: 4.42857em;
        padding: 0; }
    /* line 43, ../sass/components/tabs/_service-tab.scss */
    .block--quicktabs-resource-service-tabs .quicktabs_main ul.menu li.leaf {
      padding: 0 0 0.5em 0;
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 6.4em;
      white-space: nowrap;
      text-align: left; }
/* line 54, ../sass/components/tabs/_service-tab.scss */
.block--quicktabs-resource-service-tabs ul.quicktabs-tabs {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-size: 1rem;
  *zoom: 1;
  margin-top: 1.5em; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-resource-service-tabs ul.quicktabs-tabs:after {
    content: "";
    display: table;
    clear: both; }
  /* line 61, ../sass/components/tabs/_service-tab.scss */
  .block--quicktabs-resource-service-tabs ul.quicktabs-tabs a {
    color: #333333; }
  /* line 65, ../sass/components/tabs/_service-tab.scss */
  .block--quicktabs-resource-service-tabs ul.quicktabs-tabs li {
    padding: 0.5em;
    width: 50%;
    text-align: center;
    float: left;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    *zoom: 1; }
    /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .block--quicktabs-resource-service-tabs ul.quicktabs-tabs li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 73, ../sass/components/tabs/_service-tab.scss */
    .block--quicktabs-resource-service-tabs ul.quicktabs-tabs li:hover {
      color: #922525; }
      /* line 76, ../sass/components/tabs/_service-tab.scss */
      .block--quicktabs-resource-service-tabs ul.quicktabs-tabs li:hover a {
        text-decoration: none; }
    /* line 82, ../sass/components/tabs/_service-tab.scss */
    .block--quicktabs-resource-service-tabs ul.quicktabs-tabs li.active a {
      color: #922525; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2015, 9:15:30 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/tabs/_tab-icon.scss */
#quicktabs-tab-news_tabs-0:before, #quicktabs-tab-news_tabs-1:before, #quicktabs-tab-resource_service_tabs-0:before, #quicktabs-tab-resource_service_tabs-1:before {
  font-family: "FontAwesome";
  display: block;
  margin: 0 auto;
  font-size: 60px;
  font-size: 4.28571rem;
  padding-bottom: .3em; }

/* line 20, ../sass/components/tabs/_tab-icon.scss */
#quicktabs-tab-news_tabs-0:before {
  content: "\f1ea"; }

/* line 27, ../sass/components/tabs/_tab-icon.scss */
#quicktabs-tab-news_tabs-1:before {
  content: "\f233"; }

/* line 34, ../sass/components/tabs/_tab-icon.scss */
#quicktabs-tab-resource_service_tabs-0:before {
  content: "\f0ac"; }

/* line 41, ../sass/components/tabs/_tab-icon.scss */
#quicktabs-tab-resource_service_tabs-1:before {
  content: "\f0c1"; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2015, 9:53:08 PM
    Author     : Stephen
*/
/* line 12, ../sass/components/views/_attachment.scss */
.attachment .view-dbnav .view-content {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-left: 0.5em; }
  /* line 17, ../sass/components/views/_attachment.scss */
  .attachment .view-dbnav .view-content .views-summary a {
    padding: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2015, 9:39:08 PM
    Author     : Stephen
*/
/* line 12, ../sass/components/views/_exposed-form.scss */
.views-exposed-form .views-exposed-widget .views-widget {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
/* line 15, ../sass/components/views/_exposed-form.scss */
.views-exposed-form .views-exposed-widget .form-text {
  width: 20em; }
/* line 18, ../sass/components/views/_exposed-form.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2015, 10:02:05 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/views/_glossary.scss */
.view-content .views-table {
  width: 100%;
  margin: 0.5em auto; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2015, 11:28:07 AM
    Author     : Stephen
*/
/* line 11, ../sass/components/views/_view-block.scss */
.view .more-link {
  margin-top: -1.5em; }
  /* line 14, ../sass/components/views/_view-block.scss */
  .view .more-link a {
    color: #922525; }

/*# sourceMappingURL=gxnulib.no-query.css.map */
