/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 10:51:36 AM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2015, 9:44:24 PM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 3:49:40 PM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2015, 2:29:32 PM
    Author     : Stephen
*/
/* line 11, ../sass/base/_elements.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 15, ../sass/base/_elements.scss */
body {
  margin: 0;
  background: #f5f4f1; }

/* line 20, ../sass/base/_elements.scss */
article, aside, details, figure, figcaption, header, footer, hgroup, main, nav, section, summary {
  display: block; }

/* line 24, ../sass/base/_elements.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 29, ../sass/base/_elements.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 34, ../sass/base/_elements.scss */
[hidden], template {
  display: none; }

/* line 1, ../sass/base/_forms.scss */
input[type="text"],
textarea {
  padding: 0.5em 1em;
  border: 1px solid #f0f0f0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none; }
  /* line 61, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]:-moz-placeholder,
  textarea:-moz-placeholder {
    font-style: italic; }
  /* line 64, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]::-moz-placeholder,
  textarea::-moz-placeholder {
    font-style: italic; }
  /* line 67, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-style: italic; }
  /* line 56, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-style: italic; }
  /* line 13, ../sass/base/_forms.scss */
  input[type="text"]:focus,
  textarea:focus {
    -moz-box-shadow: 0 0 6px rgba(240, 240, 240, 0.7);
    -webkit-box-shadow: 0 0 6px rgba(240, 240, 240, 0.7);
    box-shadow: 0 0 6px rgba(240, 240, 240, 0.7); }

/* line 18, ../sass/base/_forms.scss */
fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0.75em 1em 1.5em 1em;
  border-color: #f0f0f0; }

/* line 26, ../sass/base/_forms.scss */
legend {
  padding: 0 0.5em;
  color: #333333; }

/* line 32, ../sass/base/_forms.scss */
input[type="submit"], input[type="button"] {
  background: #e87411;
  padding: 0.5em 1em;
  border: 1px solid #f0f0f0;
  color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 39, ../sass/base/_forms.scss */
  input[type="submit"]:hover, input[type="button"]:hover {
    background: #d0680f; }

/* line 44, ../sass/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  padding: 1.5em 0.5em; }

/* line 2, ../sass/base/_lists.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding: 0.5em;
  margin: 0 auto; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/**
 * $FONT-FACE
 */
/* line 106, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.71429em; }

/**
 * $BASE-TYPOGRAPHY
 */
/* line 9, ../sass/base/_typography.scss */
html {
  font-family: "Microsoft Yahei", Sumsun, Arial;
  color: #333333; }

/**
 * $LINKS
 */
/* line 17, ../sass/base/_typography.scss */
a {
  outline: 0;
  background: transparent;
  color: #e87411;
  text-decoration: none; }
  /* line 18, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #e87411; }
  /* line 21, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #a1500c; }
  /* line 24, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #a1500c; }
  /* line 27, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #a1500c; }
  /* line 23, ../sass/base/_typography.scss */
  a:hover {
    text-decoration: underline; }

/* line 29, ../sass/base/_typography.scss */
.front-page a {
  color: #333333; }
  /* line 18, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .front-page a:visited {
    color: #333333; }
  /* line 21, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .front-page a:focus {
    color: #333333; }
  /* line 24, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .front-page a:hover {
    color: #e87411; }
  /* line 27, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .front-page a:active {
    color: #e87411; }

/**
 * $HEADINGS
 */
/* line 37, ../sass/base/_typography.scss */
h1, .alpha,
h2, .beta, .article-title,
h3, .gamma,
h4, .delta, legend, .block__title, .block--quicktabs-news-tabs ul.quicktabs-tabs, .block--quicktabs-search-tabs ul.quicktabs-tabs,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.34286em;
  color: #e87411;
  text-transform: uppercase; }
  /* line 47, ../sass/base/_typography.scss */
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a, .article-title a,
  .beta a:visited,
  .article-title a:visited,
  h3 a,
  h3 a:visited, .gamma a,
  .gamma a:visited,
  h4 a,
  h4 a:visited, .delta a, legend a, .block__title a, .block--quicktabs-news-tabs ul.quicktabs-tabs a, .block--quicktabs-search-tabs ul.quicktabs-tabs a,
  .delta a:visited,
  legend a:visited,
  .block__title a:visited,
  .block--quicktabs-news-tabs ul.quicktabs-tabs a:visited,
  .block--quicktabs-search-tabs ul.quicktabs-tabs a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a,
  .zeta a:visited {
    color: inherit;
    text-decoration: none; }

/* line 54, ../sass/base/_typography.scss */
h1, .alpha {
  font-size: 54px;
  font-size: 3.85714rem;
  font-weight: 700;
  line-height: 80px; }

/* line 59, ../sass/base/_typography.scss */
h2, .beta, .article-title {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700;
  line-height: 54px; }

/* line 64, ../sass/base/_typography.scss */
h3, .gamma {
  font-size: 22px;
  font-size: 1.57143rem;
  line-height: 40px; }

/* line 68, ../sass/base/_typography.scss */
h4, .delta, legend, .block__title, .block--quicktabs-news-tabs ul.quicktabs-tabs, .block--quicktabs-search-tabs ul.quicktabs-tabs {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 32px; }

/* line 72, ../sass/base/_typography.scss */
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 26px; }

/* line 76, ../sass/base/_typography.scss */
h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 24px; }

/**
 * $PARAGRAPHS
 */
/* line 84, ../sass/base/_typography.scss */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.71429em; }

/* line 89, ../sass/base/_typography.scss */
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
/* line 97, ../sass/base/_typography.scss */
blockquote {
  margin-top: 0em;
  padding-top: 1.71429em;
  padding-bottom: 1.71429em;
  margin-bottom: 1.71429em;
  padding: 0, 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.64286em;
  border-left-width: 0.71429em;
  border-left-style: solid;
  padding-left: 1em;
  font-style: italic; }
  /* line 106, ../sass/base/_typography.scss */
  blockquote p {
    margin: 0; }

/* line 111, ../sass/base/_typography.scss */
q {
  font-style: italic; }

/**
 * $MARKS
 */
/* line 118, ../sass/base/_typography.scss */
mark,
.marker {
  padding: 0.1em 0.5em;
  color: #ffffff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/**
 * $FOOTERS
 */
/* line 132, ../sass/base/_typography.scss */
footer,
.l-footer {
  padding: 1.5em 0;
  margin: 0 auto;
  background: #1a1a1a;
  text-align: center;
  color: #595959;
  font-size: 12px;
  font-size: 0.85714rem; }
  /* line 143, ../sass/base/_typography.scss */
  footer a,
  .l-footer a {
    color: #595959; }

/**
 * $BARS
 */
/* line 151, ../sass/base/_typography.scss */
.l-bar {
  padding: 0.1em 1em;
  background: #000000;
  text-align: right;
  color: black;
  font-size: 12px;
  font-size: 0.85714rem; }
  /* line 160, ../sass/base/_typography.scss */
  .l-bar a {
    color: gray; }
    /* line 162, ../sass/base/_typography.scss */
    .l-bar a:hover {
      color: #cccccc; }

/**
 * $USERFUL LINKS
 */
/* line 171, ../sass/base/_typography.scss */
.l-useful-link {
  text-align: center;
  font-size: 12px;
  font-size: 0.85714rem;
  color: gray; }
  /* line 176, ../sass/base/_typography.scss */
  .l-useful-link a {
    color: gray; }
    /* line 178, ../sass/base/_typography.scss */
    .l-useful-link a:visited {
      color: gray; }
    /* line 181, ../sass/base/_typography.scss */
    .l-useful-link a:hover {
      color: #cccccc; }

/**
 * $COPYRIGHT
 */
/* line 190, ../sass/base/_typography.scss */
.l-copyright {
  text-align: center;
  font-size: 12px;
  font-size: 0.85714rem;
  color: #595959; }
  /* line 195, ../sass/base/_typography.scss */
  .l-copyright a {
    color: #595959; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2015, 10:16:51 AM
    Author     : Stephen
*/
/* line 11, ../sass/components/blocks/_block-list.scss */
.l-region--stacked-first .block {
  padding: 1.5em 0; }
  /* line 15, ../sass/components/blocks/_block-list.scss */
  .l-region--stacked-first .block .block__content .field__item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: .4em .5em .4em 0;
    width: 10.5em; }
  /* line 22, ../sass/components/blocks/_block-list.scss */
  .l-region--stacked-first .block ul.menu {
    padding-left: 0; }
    /* line 24, ../sass/components/blocks/_block-list.scss */
    .l-region--stacked-first .block ul.menu li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      padding: .4em .5em .4em 0;
      width: 10.5em; }

/* line 34, ../sass/components/blocks/_block-list.scss */
.l-region--stacked-second .block {
  padding: 1.5em 0; }
  /* line 38, ../sass/components/blocks/_block-list.scss */
  .l-region--stacked-second .block .block__content .field__item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: .4em .5em .4em 0;
    width: 6.8em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2015, 9:33:24 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/blocks/_block.scss */
.block__title {
  font-weight: bold; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:03:33 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/fields/_bar-link.scss */
.l-bar .field__item {
  display: inline-block;
  margin: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2015, 9:22:16 AM
    Author     : Stephen
*/
/* line 11, ../sass/components/fields/_field-image.scss */
.field--name-field-image .field-items {
  text-align: center; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:07:07 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/fields/_useful-link.scss */
.l-useful-link .field__item {
  display: inline-block;
  margin: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2015, 5:06:46 PM
    Author     : Stephen
*/
/**
 * $FORM
 */
/* line 14, ../sass/components/forms/_forms.scss */
.form-inline {
  margin: 0;
  padding: 0; }
  /* line 18, ../sass/components/forms/_forms.scss */
  .form-inline .form-item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }

/**
 * $FORM-ITEM
 */
/* line 26, ../sass/components/forms/_forms.scss */
.form-item {
  display: inline; }

/* line 1, ../sass/components/forms/_search.scss */
.search-form {
  float: left; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 4:18:20 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/menus/_breadcrumb.scss */
.breadcrumb {
  margin: 0;
  padding: 0;
  border: 0; }
  /* line 13, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .breadcrumb:after {
    content: "";
    display: table;
    clear: both; }
  /* line 62, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .breadcrumb li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left; }
  /* line 13, ../sass/components/menus/_breadcrumb.scss */
  .breadcrumb li {
    padding: 0 0.5em 1.5em 0; }
    /* line 16, ../sass/components/menus/_breadcrumb.scss */
    .breadcrumb li:after {
      font-family: "FontAwesome";
      content: "\f101";
      padding-left: 0.5em;
      vertical-align: baseline; }
    /* line 22, ../sass/components/menus/_breadcrumb.scss */
    .breadcrumb li:last-child:after {
      content: ""; }

/* line 1, ../sass/components/menus/_menu.scss */
.tb-megamenu .nav-collapse .nav li.dropdown > .dropdown-toggle .caret, .tb-megamenu .nav-collapse .nav li.dropdown > .dropdown-toggle:hover .caret, .tb-megamenu .nav-collapse .nav li.dropdown.open > .dropdown-toggle .caret, .tb-megamenu .nav-collapse .nav li.dropdown.open > .dropdown-toggle:hover .caret {
  border-top-color: #333333;
  border-bottom-color: #333333; }

/* line 6, ../sass/components/menus/_menu.scss */
.tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav-collapse .nav li.dropdown.open > .dropdown-toggle, .tb-megamenu .nav-collapse .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav-collapse .nav li.dropdown.open.active > a:hover,
.tb-megamenu .nav-collapse .nav li.dropdown.open.active > a:focus {
  background-color: #f5f4f1;
  border: 0;
  color: #333333; }

/* line 12, ../sass/components/menus/_menu.scss */
.tb-megamenu .dropdown-menu {
  background-color: #f5f4f1;
  border-bottom: 0.3em solid #e87411;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-box-shadow: 0 5px 10px #646464;
  -webkit-box-shadow: 0 5px 10px #646464;
  box-shadow: 0 5px 10px #646464; }

/* line 19, ../sass/components/menus/_menu.scss */
.tb-megamenu {
  background-color: #f5f4f1;
  border-bottom: 1px solid #e8e6df; }
  /* line 25, ../sass/components/menus/_menu.scss */
  .tb-megamenu .nav-collapse .nav > li {
    padding-bottom: 0; }
    /* line 27, ../sass/components/menus/_menu.scss */
    .tb-megamenu .nav-collapse .nav > li > a {
      font-size: 16px;
      font-size: 1.14286rem; }
      /* line 31, ../sass/components/menus/_menu.scss */
      .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus {
        color: #e87411; }
    /* line 38, ../sass/components/menus/_menu.scss */
    .tb-megamenu .nav-collapse .nav > li.active > a:hover, .tb-megamenu .nav-collapse .nav > li.active > a:focus {
      background-color: #e8e6df;
      color: #e87411; }
  /* line 64, ../sass/components/menus/_menu.scss */
  .tb-megamenu .nav-collapse .nav li.dropdown.open > .dropdown-toggle {
    color: #e87411; }
  /* line 87, ../sass/components/menus/_menu.scss */
  .tb-megamenu .nav-collapse .nav .active > a, .tb-megamenu .nav-collapse .nav .active > a:hover, .tb-megamenu .nav-collapse .nav .active > a:focus {
    color: #e87411;
    text-shadow: none;
    background-color: #f5f4f1;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none; }
  /* line 107, ../sass/components/menus/_menu.scss */
  .tb-megamenu .dropdown-menu li > a {
    display: inline-block; }
    /* line 110, ../sass/components/menus/_menu.scss */
    .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
      color: #e87411; }
  /* line 119, ../sass/components/menus/_menu.scss */
  .tb-megamenu .dropdown-submenu:hover > a {
    color: #e87411; }

/* line 127, ../sass/components/menus/_menu.scss */
.tb-megamenu-submenu ul li {
  padding: 0.1em 0.5em; }
  /* line 130, ../sass/components/menus/_menu.scss */
  .tb-megamenu-submenu ul li:before {
    font-family: "FontAwesome";
    content: "\f101";
    margin-right: 0.5em;
    color: #e87411;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2015, 4:04:14 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/menus/_navigation.scss */
.l-region--sidebar-first .block--menu-block {
  border: 1px solid #f0f0f0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 15, ../sass/components/menus/_navigation.scss */
  .l-region--sidebar-first .block--menu-block .block__title {
    border-top: 3px solid #e87411;
    color: #e87411;
    height: 3em;
    line-height: 3em;
    padding-left: 1.5em; }
  /* line 23, ../sass/components/menus/_navigation.scss */
  .l-region--sidebar-first .block--menu-block ul.menu {
    padding: 0;
    margin: 0; }
    /* line 27, ../sass/components/menus/_navigation.scss */
    .l-region--sidebar-first .block--menu-block ul.menu li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      padding-left: 1.5em;
      border-bottom: 1px dotted #f0f0f0;
      background: #fdfdfd;
      cursor: pointer; }
      /* line 35, ../sass/components/menus/_navigation.scss */
      .l-region--sidebar-first .block--menu-block ul.menu li.active, .l-region--sidebar-first .block--menu-block ul.menu li.active:hover {
        background: #e87411; }
      /* line 39, ../sass/components/menus/_navigation.scss */
      .l-region--sidebar-first .block--menu-block ul.menu li.active:before {
        color: #ffffff; }
      /* line 43, ../sass/components/menus/_navigation.scss */
      .l-region--sidebar-first .block--menu-block ul.menu li:before {
        font-family: "FontAwesome";
        content: "\f101";
        padding-right: 0.5em; }
      /* line 48, ../sass/components/menus/_navigation.scss */
      .l-region--sidebar-first .block--menu-block ul.menu li:hover {
        background: #f0f0f0; }
      /* line 52, ../sass/components/menus/_navigation.scss */
      .l-region--sidebar-first .block--menu-block ul.menu li a {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        color: #333333; }
        /* line 57, ../sass/components/menus/_navigation.scss */
        .l-region--sidebar-first .block--menu-block ul.menu li a.active, .l-region--sidebar-first .block--menu-block ul.menu li a.active:before, .l-region--sidebar-first .block--menu-block ul.menu li a.active:hover {
          color: #ffffff; }
        /* line 64, ../sass/components/menus/_navigation.scss */
        .l-region--sidebar-first .block--menu-block ul.menu li a:hover {
          color: #e87411;
          text-decoration: none; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 4:38:31 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/misc/_article-title.scss */
.article-title {
  text-align: center; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2015, 11:51:22 AM
    Author     : Stephen
*/
/* line 10, ../sass/components/misc/_related-article.scss */
.block--views-view-related-article-block {
  border: 1px solid #f0f0f0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 14, ../sass/components/misc/_related-article.scss */
  .block--views-view-related-article-block .block__title {
    border-top: 3px solid #e87411;
    color: #e87411;
    height: 3em;
    line-height: 3em;
    padding-left: 1.5em; }
  /* line 22, ../sass/components/misc/_related-article.scss */
  .block--views-view-related-article-block ul {
    padding-left: 1.5em; }
    /* line 26, ../sass/components/misc/_related-article.scss */
    .block--views-view-related-article-block ul li.views-row-odd {
      background: #ffffff; }
    /* line 30, ../sass/components/misc/_related-article.scss */
    .block--views-view-related-article-block ul li:before {
      font-family: "FontAwesome";
      content: "\f101";
      padding-right: 0.5em;
      display: inline-block; }
    /* line 37, ../sass/components/misc/_related-article.scss */
    .block--views-view-related-article-block ul li a {
      color: #333333;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      /* line 41, ../sass/components/misc/_related-article.scss */
      .block--views-view-related-article-block ul li a:hover {
        color: #e87411; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2015, 11:12:37 AM
    Author     : Stephen
*/
/* line 12, ../sass/components/misc/_taxonomy-term.scss */
.view-taxonomy-term .item-list ul {
  padding-left: 0; }
  /* line 15, ../sass/components/misc/_taxonomy-term.scss */
  .view-taxonomy-term .item-list ul li {
    border-bottom: 1px dotted #f0f0f0; }
    /* line 18, ../sass/components/misc/_taxonomy-term.scss */
    .view-taxonomy-term .item-list ul li:before {
      font-family: "FontAwesome";
      content: "\f0da";
      padding-right: 0.5em;
      display: inline-block;
      color: #e87411; }
    /* line 26, ../sass/components/misc/_taxonomy-term.scss */
    .view-taxonomy-term .item-list ul li .views-field-title {
      padding-right: 1.5em; }
    /* line 30, ../sass/components/misc/_taxonomy-term.scss */
    .view-taxonomy-term .item-list ul li a {
      color: #333333; }
      /* line 33, ../sass/components/misc/_taxonomy-term.scss */
      .view-taxonomy-term .item-list ul li a:hover {
        color: #e87411; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 5:02:44 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/nodes/_node.scss */
.node__submitted {
  background: transparent;
  padding: 0;
  margin: 0 auto; }
  /* line 15, ../sass/components/nodes/_node.scss */
  .node__submitted a {
    color: #e87411; }

/* line 20, ../sass/components/nodes/_node.scss */
.category {
  text-align: center; }

/* line 24, ../sass/components/nodes/_node.scss */
.node__content {
  padding: 1.5em 0.5em; }
  /* line 27, ../sass/components/nodes/_node.scss */
  .node__content p {
    text-indent: 2em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2015, 2:57:39 PM
    Author     : Stephen
*/
/* line 12, ../sass/components/slideshows/_culture-slideshow.scss */
.view-view-culture-slideshow .views_slideshow_main img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
/* line 16, ../sass/components/slideshows/_culture-slideshow.scss */
.view-view-culture-slideshow .views_slideshow_main .views-field-title a {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 20%;
  padding: 0.5em 0.75em;
  text-shadow: 2px 2px #000000;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 12px;
  font-size: 0.85714rem;
  color: #ffffff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NGY1NyIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDk0ZjU3IiBzdG9wLW9wYWNpdHk9IjAuNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(73, 79, 87, 0.95)), color-stop(100%, rgba(73, 79, 87, 0.5)));
  background-image: -moz-linear-gradient(rgba(73, 79, 87, 0.95), rgba(73, 79, 87, 0.5));
  background-image: -webkit-linear-gradient(rgba(73, 79, 87, 0.95), rgba(73, 79, 87, 0.5));
  background-image: linear-gradient(rgba(73, 79, 87, 0.95), rgba(73, 79, 87, 0.5)); }
/* line 31, ../sass/components/slideshows/_culture-slideshow.scss */
.view-view-culture-slideshow .views-slideshow-controls-bottom {
  z-index: 10;
  text-align: center;
  width: 100%; }
  /* line 36, ../sass/components/slideshows/_culture-slideshow.scss */
  .view-view-culture-slideshow .views-slideshow-controls-bottom .views_slideshow_pager_field_item {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-family: "FontAwesome";
    content: "\f111"; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2015, 9:27:25 AM
    Author     : Stephen
*/
/* line 11, ../sass/components/tabs/_news-tab.scss */
.block--quicktabs-news-tabs > .block__content {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 12, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs > .block__content .block {
    padding: 0; }
/* line 18, ../sass/components/tabs/_news-tab.scss */
.block--quicktabs-news-tabs .quicktabs_main {
  padding: 0.5em;
  background: #efede8;
  *zoom: 1; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-news-tabs .quicktabs_main:after {
    content: "";
    display: table;
    clear: both; }
  /* line 23, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs .quicktabs_main a {
    color: #333333; }
    /* line 25, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs .quicktabs_main a:hover {
      color: #e87411; }
  /* line 30, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs .quicktabs_main ul {
    padding: 0.5em; }
    /* line 32, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs .quicktabs_main ul li {
      padding: 0.5em 0; }
      /* line 34, ../sass/components/tabs/_news-tab.scss */
      .block--quicktabs-news-tabs .quicktabs_main ul li:before {
        font-family: "FontAwesome";
        content: "\f0da";
        padding-right: 0.5em;
        color: #e87411; }
/* line 44, ../sass/components/tabs/_news-tab.scss */
.block--quicktabs-news-tabs ul.quicktabs-tabs {
  padding: 0;
  margin: 0;
  *zoom: 1;
  font-weight: bold; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-news-tabs ul.quicktabs-tabs:after {
    content: "";
    display: table;
    clear: both; }
  /* line 51, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs ul.quicktabs-tabs a {
    color: #333333; }
  /* line 55, ../sass/components/tabs/_news-tab.scss */
  .block--quicktabs-news-tabs ul.quicktabs-tabs li {
    background: #494f57;
    margin: 0 auto;
    padding: 0.5em;
    width: 50%;
    text-align: center;
    float: left;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    *zoom: 1; }
    /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 65, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li:hover {
      background: #606873;
      border-bottom: none; }
    /* line 69, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li:first-child {
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px; }
    /* line 72, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li:last-child {
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px; }
      /* line 74, ../sass/components/tabs/_news-tab.scss */
      .block--quicktabs-news-tabs ul.quicktabs-tabs li:last-child a {
        border-right: none; }
    /* line 79, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li.active {
      background: #efede8;
      border-top: 3px solid #e87411; }
    /* line 84, ../sass/components/tabs/_news-tab.scss */
    .block--quicktabs-news-tabs ul.quicktabs-tabs li a {
      border-right: 1px solid #877d60; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:42:05 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/tabs/_search-tab.scss */
.block--quicktabs-search-tabs ul.quicktabs-tabs {
  padding: 0;
  margin: 0;
  *zoom: 1;
  font-weight: bold; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-search-tabs ul.quicktabs-tabs:after {
    content: "";
    display: table;
    clear: both; }
  /* line 18, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs ul.quicktabs-tabs a {
    color: #ffffff; }
  /* line 22, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs ul.quicktabs-tabs li {
    background: #494f57;
    margin: 0 auto;
    padding: 0.5em;
    width: 50%;
    text-align: center;
    float: left;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    *zoom: 1;
    cursor: pointer; }
    /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 33, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:hover {
      background: #606873;
      border-bottom: none; }
    /* line 37, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:first-child {
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px; }
    /* line 40, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:last-child {
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px; }
      /* line 42, ../sass/components/tabs/_search-tab.scss */
      .block--quicktabs-search-tabs ul.quicktabs-tabs li:last-child a {
        border-right: none; }
    /* line 47, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li.active {
      background: #efede8; }
      /* line 50, ../sass/components/tabs/_search-tab.scss */
      .block--quicktabs-search-tabs ul.quicktabs-tabs li.active a {
        color: #000000; }
/* line 57, ../sass/components/tabs/_search-tab.scss */
.block--quicktabs-search-tabs .quicktabs_main {
  padding: 1.5em;
  background: #efede8;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  *zoom: 1;
  text-align: center; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-search-tabs .quicktabs_main:after {
    content: "";
    display: table;
    clear: both; }
  /* line 64, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs .quicktabs_main input[type="text"] {
    width: 85%;
    height: 3.5em;
    margin-top: 1.71429em;
    margin-bottom: 1.71429em;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0; }
  /* line 70, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs .quicktabs_main input[type="submit"] {
    width: 15%;
    height: 3.5em;
    margin-top: 1.71429em;
    margin-bottom: 1.71429em;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0; }

/*# sourceMappingURL=gxnulib.styles.css.map */
