/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 10:51:36 AM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2015, 9:44:24 PM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 3:49:40 PM
    Author     : Stephen
*/
/* line 1, ../sass/base/_forms.scss */
select,
input,
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  margin: 20px 0.5em;
  border: 1px solid #e6e6e6;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none; }
  /* line 12, ../sass/base/_forms.scss */
  select:focus,
  input:focus,
  textarea:focus {
    -moz-box-shadow: 0 0 8px #9a2525;
    -webkit-box-shadow: 0 0 8px #9a2525;
    box-shadow: 0 0 8px #9a2525; }

/* line 17, ../sass/base/_forms.scss */
fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 10px 1em 20px 1em;
  border-color: #666666; }

/* line 25, ../sass/base/_forms.scss */
legend {
  padding: 0 0.8em;
  color: #666666; }

/* line 31, ../sass/base/_forms.scss */
input[type="submit"], input[type="button"] {
  background: #9a2525;
  padding: 0.5em 1em;
  border: none;
  color: #ffffff; }
  /* line 37, ../sass/base/_forms.scss */
  input[type="submit"]:hover, input[type="button"]:hover {
    background: #852020;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

/* line 43, ../sass/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  padding: 20px 0.5em; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/**
 * $FONT-FACE
 */
/* line 106, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.42857em; }

/**
 * $BASE-TYPOGRAPHY
 */
/* line 9, ../sass/base/_typography.scss */
html {
  font-family: "Microsoft Yahei", Sumsun, Arial;
  color: #333333; }

/**
 * $LINKS
 */
/* line 17, ../sass/base/_typography.scss */
a {
  color: #9a2525;
  text-decoration: none; }
  /* line 18, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #852020; }
  /* line 21, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #9a2525; }
  /* line 24, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #af2a2a; }
  /* line 27, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #9a2525; }

/* line 21, ../sass/base/_typography.scss */
a:hover {
  text-decoration: underline; }

/**
 * $HEADINGS
 */
/* line 28, ../sass/base/_typography.scss */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta, legend, .block--quicktabs-search-tabs ul.quicktabs-tabs,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #9a2525;
  text-transform: uppercase; }
  /* line 38, ../sass/base/_typography.scss */
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a,
  .beta a:visited,
  h3 a,
  h3 a:visited, .gamma a,
  .gamma a:visited,
  h4 a,
  h4 a:visited, .delta a, legend a, .block--quicktabs-search-tabs ul.quicktabs-tabs a,
  .delta a:visited,
  legend a:visited,
  .block--quicktabs-search-tabs ul.quicktabs-tabs a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a,
  .zeta a:visited {
    color: inherit;
    text-decoration: none; }

/* line 45, ../sass/base/_typography.scss */
h1, .alpha {
  font-size: 55px;
  font-size: 3.92857rem;
  font-weight: 700; }

/* line 49, ../sass/base/_typography.scss */
h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700; }

/* line 53, ../sass/base/_typography.scss */
h3, .gamma {
  font-size: 21px;
  font-size: 1.5rem; }

/* line 56, ../sass/base/_typography.scss */
h4, .delta, legend, .block--quicktabs-search-tabs ul.quicktabs-tabs {
  font-size: 18px;
  font-size: 1.28571rem; }

/* line 59, ../sass/base/_typography.scss */
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem; }

/* line 62, ../sass/base/_typography.scss */
h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem; }

/**
 * $PARAGRAPHS
 */
/* line 69, ../sass/base/_typography.scss */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em; }

/* line 74, ../sass/base/_typography.scss */
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
/* line 82, ../sass/base/_typography.scss */
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0, 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.35714em;
  border-left-width: 0.71429em;
  border-left-style: solid;
  padding-left: 0.71429em;
  font-style: italic;
  color: #852020; }
  /* line 92, ../sass/base/_typography.scss */
  blockquote p {
    margin: 0; }

/* line 97, ../sass/base/_typography.scss */
q {
  font-style: italic; }

/**
 * $MARKS
 */
/* line 104, ../sass/base/_typography.scss */
mark,
.marker {
  padding: 0.1em 0.5em;
  background: #fbd0d6;
  color: #ffffff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/**
 * $FOOTERS
 */
/* line 120, ../sass/base/_typography.scss */
footer,
.l-footer {
  padding: 20px 0;
  margin: 0 auto;
  background: #262626;
  text-align: center;
  color: #666666;
  font-size: 12px;
  font-size: 0.85714rem; }
  /* line 131, ../sass/base/_typography.scss */
  footer a,
  .l-footer a {
    color: #666666; }

/**
 * $BARS
 */
/* line 139, ../sass/base/_typography.scss */
.l-bar {
  padding: 0.1em 0.5em;
  background: #262626;
  text-align: right;
  color: #a6a6a6;
  font-size: 12px;
  font-size: 0.85714rem; }
  /* line 148, ../sass/base/_typography.scss */
  .l-bar a {
    color: #a6a6a6; }
    /* line 150, ../sass/base/_typography.scss */
    .l-bar a:hover {
      color: #cccccc; }

/**
 * $USERFUL LINKS
 */
/* line 159, ../sass/base/_typography.scss */
.l-useful-link {
  text-align: center;
  font-size: 12px;
  font-size: 0.85714rem;
  color: #a6a6a6; }
  /* line 164, ../sass/base/_typography.scss */
  .l-useful-link a {
    color: #a6a6a6; }
    /* line 166, ../sass/base/_typography.scss */
    .l-useful-link a:visited {
      color: #a6a6a6; }
    /* line 169, ../sass/base/_typography.scss */
    .l-useful-link a:hover {
      color: #cccccc; }

/**
 * $COPYRIGHT
 */
/* line 178, ../sass/base/_typography.scss */
.l-copyright {
  text-align: center;
  font-size: 12px;
  font-size: 0.85714rem;
  color: #666666; }
  /* line 183, ../sass/base/_typography.scss */
  .l-copyright a {
    color: #666666; }

/**
 * $EXPRESSES
 */
/* line 191, ../sass/base/_typography.scss */
.l-express {
  padding: 20px 0; }
  /* line 194, ../sass/base/_typography.scss */
  .l-express a {
    color: #333333; }
    /* line 196, ../sass/base/_typography.scss */
    .l-express a:hover {
      color: #9a2525; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:03:33 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/fields/_bar-link.scss */
.l-bar .field__item {
  display: inline-block;
  margin: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:07:07 PM
    Author     : Stephen
*/
/* line 11, ../sass/components/fields/_useful-link.scss */
.l-useful-link .field__item {
  display: inline-block;
  margin: 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2015, 5:06:46 PM
    Author     : Stephen
*/
/**
 * $FORM
 */
/* line 14, ../sass/components/forms/_forms.scss */
.form-inline {
  margin: 0;
  padding: 0; }
  /* line 18, ../sass/components/forms/_forms.scss */
  .form-inline .form-item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }

/**
 * $FORM-ITEM
 */
/* line 26, ../sass/components/forms/_forms.scss */
.form-item {
  display: inline; }

/* line 1, ../sass/components/forms/_search.scss */
.search-form {
  float: left; }

/* line 1, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret, .tb-megamenu .nav li.dropdown > .dropdown-toggle:hover .caret, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle:hover .caret {
  border-top-color: #000000;
  border-bottom-color: #000000; }

/* line 6, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > a:hover, .tb-megamenu .nav li.dropdown.open.active > a:focus {
  background-color: #e6e6e6;
  border-right-color: #ffffff;
  color: #9a2525;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* line 13, ../sass/components/menus/_navigation.scss */
.tb-megamenu .dropdown-menu {
  background-color: #e6e6e6;
  border-color: #ffffff;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* line 19, ../sass/components/menus/_navigation.scss */
.tb-megamenu {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6; }
  /* line 24, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus {
    color: #9a2525; }
  /* line 31, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .nav-collapse .nav > li.active > a:hover, .tb-megamenu .nav-collapse .nav > li.active > a:focus {
    background-color: #ffffff;
    color: #9a2525; }
  /* line 39, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .nav > li > a {
    color: #000000;
    border-color: #ffffff;
    font-size: 16px;
    font-size: 1.14286rem; }
  /* line 86, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .nav .active > a, .tb-megamenu .nav .active > a:hover, .tb-megamenu .nav .active > a:focus {
    color: #9a2525;
    text-shadow: none;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none; }
  /* line 105, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
    color: #9a2525; }
  /* line 112, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .dropdown-submenu:hover > a {
    color: #9a2525; }
  /* line 117, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .block-view-demo .views-field-field-image img {
    border: 1px solid #eee; }
  /* line 120, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .block-view-demo .item-list ul li {
    border-bottom: 1px solid #eee; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2015, 9:42:05 PM
    Author     : Stephen
*/
/* line 10, ../sass/components/tabs/_search-tab.scss */
.block--quicktabs-search-tabs .quicktabs_main {
  padding: 0.5em;
  background: #ffffff;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  *zoom: 1;
  text-align: center; }
  /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .block--quicktabs-search-tabs .quicktabs_main:after {
    content: "";
    display: table;
    clear: both; }
  /* line 17, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs .quicktabs_main input[type="text"] {
    width: 55%; }

/* line 22, ../sass/components/tabs/_search-tab.scss */
.block--quicktabs-search-tabs ul.quicktabs-tabs {
  background: #9a2525;
  margin: 0;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px; }
  /* line 28, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs ul.quicktabs-tabs a {
    color: #ffffff; }
  /* line 32, ../sass/components/tabs/_search-tab.scss */
  .block--quicktabs-search-tabs ul.quicktabs-tabs li {
    margin: 0 auto;
    padding: 0.5em;
    width: 25%;
    text-align: center;
    float: left;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    *zoom: 1; }
    /* line 38, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 41, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li:hover {
      background: #852020;
      border-bottom: none; }
    /* line 46, ../sass/components/tabs/_search-tab.scss */
    .block--quicktabs-search-tabs ul.quicktabs-tabs li.active {
      background: #ffffff; }
      /* line 49, ../sass/components/tabs/_search-tab.scss */
      .block--quicktabs-search-tabs ul.quicktabs-tabs li.active a {
        color: #000000; }

/*# sourceMappingURL=gxnulib.no-query.css.map */
