/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2015, 10:51:36 AM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2015, 9:44:24 PM
    Author     : Stephen
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 3:49:40 PM
    Author     : Stephen
*/
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/**
 * $FONT-FACE
 */
/* line 106, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.42857em; }

/**
 * $BASE-TYPOGRAPHY
 */
/* line 9, ../sass/base/_typography.scss */
html {
  font-family: "Microsoft Yahei", Sumsun, Arial;
  color: #333333; }

/**
 * $LINKS
 */
/* line 17, ../sass/base/_typography.scss */
a {
  color: #9a2525;
  text-decoration: none; }
  /* line 18, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #852020; }
  /* line 21, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #9a2525; }
  /* line 24, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #af2a2a; }
  /* line 27, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #9a2525; }

/* line 21, ../sass/base/_typography.scss */
a:hover {
  text-decoration: underline; }

/**
 * $HEADINGS
 */
/* line 28, ../sass/base/_typography.scss */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #9a2525;
  text-transform: uppercase; }
  /* line 38, ../sass/base/_typography.scss */
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a,
  .beta a:visited,
  h3 a,
  h3 a:visited, .gamma a,
  .gamma a:visited,
  h4 a,
  h4 a:visited, .delta a,
  .delta a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a,
  .zeta a:visited {
    color: inherit;
    text-decoration: none; }

/* line 45, ../sass/base/_typography.scss */
h1, .alpha {
  font-size: 55px;
  font-size: 3.92857rem;
  font-weight: 700; }

/* line 49, ../sass/base/_typography.scss */
h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700; }

/* line 53, ../sass/base/_typography.scss */
h3, .gamma {
  font-size: 21px;
  font-size: 1.5rem; }

/* line 56, ../sass/base/_typography.scss */
h4, .delta {
  font-size: 18px;
  font-size: 1.28571rem; }

/* line 59, ../sass/base/_typography.scss */
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem; }

/* line 62, ../sass/base/_typography.scss */
h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem; }

/**
 * $PARAGRAPHS
 */
/* line 69, ../sass/base/_typography.scss */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em; }

/* line 74, ../sass/base/_typography.scss */
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
/* line 82, ../sass/base/_typography.scss */
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0, 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.35714em;
  border-left-width: 0.71429em;
  border-left-style: solid;
  padding-left: 0.71429em;
  font-style: italic;
  color: #852020; }
  /* line 92, ../sass/base/_typography.scss */
  blockquote p {
    margin: 0; }

/* line 97, ../sass/base/_typography.scss */
q {
  font-style: italic; }

/**
 * $MARKS
 */
/* line 104, ../sass/base/_typography.scss */
mark,
.marker {
  padding: 0.1em 0.5em;
  background: #fbd0d6;
  color: #ffffff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/**
 * $FOOTERS
 */
/* line 120, ../sass/base/_typography.scss */
footer,
.footer {
  padding: 20px 0;
  background: #262626;
  text-align: center;
  color: #666666;
  font-size: 12px;
  font-size: 0.85714rem; }
  /* line 130, ../sass/base/_typography.scss */
  footer a,
  .footer a {
    color: #666666; }

/**
 * $BARS
 */
/* line 138, ../sass/base/_typography.scss */
.bar {
  padding: 0.1em 0.5em;
  background: #262626;
  text-align: right;
  color: #a6a6a6;
  font-size: 12px;
  font-size: 0.85714rem; }
  /* line 147, ../sass/base/_typography.scss */
  .bar a {
    color: #a6a6a6; }
    /* line 149, ../sass/base/_typography.scss */
    .bar a:hover {
      color: #cccccc; }

/* line 1, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret, .tb-megamenu .nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #000000;
  border-bottom-color: #000000; }

/* line 6, ../sass/components/menus/_navigation.scss */
.tb-megamenu .dropdown-menu {
  background-color: #cccccc;
  border-color: #ffffff;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* line 12, ../sass/components/menus/_navigation.scss */
.tb-megamenu {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc; }
  /* line 17, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .nav > li > a {
    color: #000000;
    border-color: #ffffff;
    font-size: 16px;
    font-size: 1.14286rem; }

/* line 36, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #fff;
  border-right-color: #fff;
  color: #9a2525; }

/* line 43, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav > li.dropdown.open.active > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > a:focus {
  background-color: #ddd;
  border-right-color: #fff;
  color: #9a2525; }

/* line 50, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover {
  background-color: #ddd;
  border-color: #fff;
  color: #9a2525;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* line 60, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  background-color: #ddd;
  border-color: #fff;
  color: #9a2525;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/* line 69, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle:hover .caret {
  border-bottom-color: #000;
  border-top-color: #000; }

/* line 75, ../sass/components/menus/_navigation.scss */
.tb-megamenu .dropdown-menu li > a:hover,
.tb-megamenu .dropdown-menu li > a:focus,
.tb-megamenu .dropdown-submenu:hover > a {
  color: #9a2525; }

/* line 81, ../sass/components/menus/_navigation.scss */
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus {
  color: #9a2525;
  text-shadow: none;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none; }

/* line 94, ../sass/components/menus/_navigation.scss */
.tb-megamenu .block-view-demo .views-field-field-image img {
  border: 1px solid #eee; }

/* line 98, ../sass/components/menus/_navigation.scss */
.tb-megamenu .block-view-demo .item-list ul li {
  border-bottom: 1px solid #eee; }

@media (max-width: 979px) {
  /* line 103, ../sass/components/menus/_navigation.scss */
  .tb-megamenu {
    background-color: inherit; }

  /* line 106, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .nav-collapse .nav > li > a:hover,
  .tb-megamenu .nav-collapse .nav > li > a:focus {
    color: #9a2525; }

  /* line 110, ../sass/components/menus/_navigation.scss */
  .tb-megamenu .nav-collapse .nav > li.active > a:hover,
  .tb-megamenu .nav-collapse .nav > li.active > a:focus {
    background-color: #fff;
    color: #9a2525; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2015, 9:29:25 AM
    Author     : Stephen
*/
/**
 * $SITE-BRANDINGS
 */
/* line 14, ../sass/components/misc/_site-branding.scss */
.site-branding {
  padding: 20px 0;
  text-align: center; }
  /* line 13, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .site-branding:after {
    content: "";
    display: table;
    clear: both; }

/*# sourceMappingURL=gxnulib.styles.css.map */
