/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2015, 9:53:08 PM
    Author     : Stephen
*/
.attachment {
    .view-dbnav {
        .view-content {
            @include inline-block;
            padding-left: $spacing;
            
            .views-summary {
                a {
                    padding: $spacing;
                }
            }
        }
    }
}
