/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2015, 11:28:07 AM
    Author     : Stephen
*/
.view {
    .more-link {
        margin-top: (-3)*$spacing;
        
        a {
            color: $link-color;
        }
    }
    .view-header {
    	background: $blockquote-bgcolor;
	    border: 1px dashed $blockquote-border-color;
	    margin: 1.5em 10px;
	    padding: 1em 10px;
	    quotes: "\201C""\201D""\2018""\2019";
    }
    div.view-header:before {
	    color: $blockquote-quote-color;
	    content: open-quote;
	    font-size: 4em;
	    line-height: 0.1em;
	    margin-right: 0.25em;
	    vertical-align: -0.4em;
	}
    div.view-header:after {
	    color: $blockquote-quote-color;
	    content: close-quote;
	    font-size: 4em;
	    line-height: 0.1em;
	    margin-right: 0.25em;
	    vertical-align: -0.4em;
	}
    .view-header p {
    	display: inline;
    	margin-bottom: 0;
    	color: $blockquote-color;
    	font-size: 1.1em;
    	line-height: 1.8em;
    }
}
