/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2015, 4:44:56 PM
    Author     : Stephen
*/

.l-branding {
    padding: $vert-spacing-unit 0;
    margin: 0 auto;
}
