/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 4:18:20 PM
    Author     : Stephen
*/
.breadcrumb {
    @include horizontal-list(false);
    
    li {
        padding: $vert-spacing-unit 0.5em $vert-spacing-unit 0;
        
        &:after {
            font-family: "FontAwesome";
            content: "\f101";
            padding-left: .5em;
            vertical-align: baseline;
        }
        &:last-child:after {
            content: "";
        }
    }
}
