%caret {
  border-top-color: $black;
  border-bottom-color: $black;
}

%menu {
  background-color: $smoke;
  border-right-color: $white;
  color: $red;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

%submenu {
  background-color: $smoke;
  border-color: $white;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

.tb-megamenu {
  background-color: $white;
  border-bottom: 1px solid $smoke;
  
  .nav-collapse .nav > li > a {
    &:hover,
    &:focus {
      color: $red;
    }
  }
  
  .nav-collapse .nav > li.active > a {
    &:hover,
    &:focus {
      background-color: $white;
      color: $red;
    }
  }
  
  .nav {
    & > li > a {
      color: $black;
      border-color: $white;
      @include font-size(16px);
      
      &:focus,
      &:hover {
        @extend %menu;
      }
    }
    
    li.dropdown {
      & > .dropdown-toggle {
        &,
        &:hover {
          .caret {
            @extend %caret;
          }
        }
      }
      
      &.active > .dropdown-toggle {
          @extend %menu;
      }
      
      &.open {
        & > .dropdown-toggle {
          @extend %menu;
          
          &,
          &:hover {
            .caret {
              @extend %caret;
            }
          }
        }
        &.active {
          & > .dropdown-toggle,
          & > a:hover,
          & > a:focus {
            @extend %menu;
          }
        }
      }
    }
    
    .active > a {
        &,
        &:hover,
        &:focus {
            color: $red;
            text-shadow: none;
            background-color: #fff;
            background-image: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none;
        }
    }
  }
  
  .dropdown-menu {
    @extend %submenu;
    
    li > a {
      &:hover,
      &:focus {
        color: $red;
      }
    }
  }
  
  .dropdown-submenu:hover > a {
    color: $red;
  }
  
  .block-view-demo {
      .views-field-field-image img {
          border: 1px solid #eee;
      }
      .item-list ul li {
          border-bottom: 1px solid #eee;
      }
  }
}
