/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2015, 4:04:14 PM
    Author     : Stephen
*/
.l-region--sidebar-first {
    .block--menu-block {
        border: 1px solid $border-color;
        @include border-radius($radius);
        
        .block__title {
            border-top: 3px solid $link-color;
            color: $link-color;
            height: 3em;
            line-height: 3em;
            padding-left: $vert-spacing-unit;
        }
        
        ul.menu {
            padding: 0;
            margin: 0;
            
            li.expanded {
                @include no-bullet;
                border-bottom: 1px dotted $border-color;
                background: lighten($border-color, 5%);
                cursor: pointer;
                
                &:before {
                    font-family: "FontAwesome";
                    content: "\f0db";
                    padding-right: $spacing;
                }
                
                > a {
                    font-weight: bold;
                    @extend .zeta;
                    
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            
            li.leaf {
                @include no-bullet;
                padding-left: $vert-spacing-unit;
                border-bottom: 1px dotted $border-color;
                background: lighten($border-color, 5%);
                cursor: pointer;
                
                &.active {
                    &,
                    &:hover {
                        background: $link-color;
                    }
                    &:before {
                        color: $white;
                    }
                }
                
                &:before {
                    font-family: "FontAwesome";
                    content: "\f0da";
                    padding-right: $spacing;
                }
                &:hover {
                    background: $border-color;
                }
                
                a {
                    @include inline-block;
                    color: $font-color;
                    
                    &.active {
                        &,
                        &:before,
                        &:hover {
                            color: $white;
                        }
                    }
                    
                    &:hover {
                        color: $link-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
